bin/
obj/
**/node_modules
.DS_Store
.vs/
_ReSharper.Caches/
*.csproj.user
*.user
package-lock.json
*.crt
*.key
Upnp.Control.Web/data/*
Upnp.Control.Web/config/*
*.css
Upnp.Control.Web/ClientApp/public/service-worker.js
Upnp.Control.Web/ClientApp/public/service-worker.js.map
*.tsbuildinfo
vite.config.js
Upnp.Control.Web/ClientApp/dist
artifacts