bin/
obj/
**/node_modules
.DS_Store
.vs/
_ReSharper.Caches/
*.csproj.user
*.user
package-lock.json
/Web.Upnp.Control/ClientApp/src/css/index.css
Web.Upnp.Control/*.db
Web.Upnp.Control/*.db3
Web.Upnp.Control/*.sqlite
Web.Upnp.Control/*.sqlite3
Web.Upnp.Control/ClientApp/src/react-app-env.d.ts
