.btn,
.btn-link,
.dropdown-item,
.nav-link {
    & > img,
    & > svg {
        &:first-child {
            display: inline-block;
            height: 1em;
            width: 1em;
            overflow: visible;
            vertical-align: -0.125em;
            margin-right: map-get($spacers, 1);
        }
    }
}

nav.navbar-nav > a.nav-link,
.dropdown-item {
    & > svg,
    & > img {
        &:first-child() {
            margin-right: map-get($spacers, 3);
        }
    }
}

.dropdown-item {
    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none;
    }
}

.btn.btn-round {
    clip-path: circle();
    outline: none !important;
    box-shadow: none;

    & > img,
    & > svg {
        margin: 0;
    }

    & > svg {
        fill: currentColor;
    }

    &:focus-visible,
    &:hover {
        color: $dropdown-link-hover-color;
        @include gradient-bg($gray-400);
    }

    &.active,
    &:active {
        color: $dropdown-link-active-color;
        @include gradient-bg($dropdown-link-active-bg);
    }

    &.disabled,
    &:disabled {
        color: $dropdown-link-disabled-color;
        pointer-events: none;
        background-color: transparent;
        background-image: if($enable-gradients, none, null);
    }
}

.btn.image-only {
    & > img,
    & > svg {
        margin: 0;
    }
}
