$auto-table-striped-order: even;

$trim-columns-map: (
    sm: 3,
);

$hide-columns-map: (
    md: (
        3,
        5,
    ),
    lg: 5,
);

.auto-table {
    --bs-auto-table-bg: #{$table-bg};
    --bs-auto-table-header-bg: #{$light};
    --bs-auto-table-accent-bg: transparent;
    --bs-auto-table-striped-color: #{$table-striped-color};
    --bs-auto-table-striped-bg: #{$table-striped-bg};
    --bs-auto-table-active-color: #{$table-active-color};
    --bs-auto-table-active-bg: #{$table-active-bg};
    --bs-auto-table-hover-color: #{$table-hover-color};
    --bs-auto-table-hover-bg: #{$table-hover-bg};
    --bs-auto-table-selected-bg: #{$link-color};
    --bs-auto-table-focused-marker-color: #{shade-color($link-color, 35%)};
    --bs-auto-table-focused-marker-size: 0rem;
    --bs-auto-table-selected-color: white;

    display: table;
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    background-color: $table-bg;
    color: $table-color;
    vertical-align: $table-cell-vertical-align;
    border-color: $table-border-color;

    @mixin at-header {
        & > :not(.table-caption):first-of-type,
        & > .table-caption:first-of-type + * {
            @content;
        }
    }

    @mixin at-body {
        & > .table-caption:first-of-type ~ :nth-of-type(3),
        & > :not(.table-caption):first-of-type ~ :nth-of-type(2) {
            @content;
        }
    }

    @mixin at-body-row($selector: null) {
        @include at-body() {
            #{if($selector, selector-nest("& >", $selector), "& > *")} {
                @content;
            }
        }
    }

    @mixin at-footer {
        & > .table-footer:last-of-type {
            @content;
        }
    }

    & > * {
        display: table-row-group;
    }

    /* Table caption */
    & > .table-caption:first-of-type {
        display: table-caption;
        color: $table-caption-color;
        padding: $table-cell-padding-y $table-cell-padding-x;
        caption-side: top;
        border: none;
    }

    /* Table header */
    @include at-header() {
        display: table-header-group;

        & > * > * {
            color: $table-color;
            background-color: var(--bs-auto-table-header-bg);
            border-top: $table-border-width solid $table-border-color;
            border-bottom: $table-border-width solid $table-border-color;
            border-left: $table-border-width solid $table-border-color;
            font-weight: $headings-font-weight;
            &:first-child {
                border-left: none;
            }
        }

        &.sticky-header > * > * {
            position: sticky;
            top: 0;
            z-index: $zindex-sticky;
        }
    }

    /* Table row */
    & > :not(.table-caption) {
        & > * {
            display: table-row;
            background-color: var(--bs-auto-table-bg);
            background-image: linear-gradient(var(--bs-auto-table-accent-bg), var(--bs-auto-table-accent-bg));

            & > * {
                display: table-cell;
                vertical-align: middle;
                white-space: nowrap;
                padding: $table-cell-padding-y $table-cell-padding-x;
                border-top: $table-border-width solid $table-border-color;

                &.mw-1 {
                    max-width: 1px;
                }

                &:first-child {
                    padding-left: calc(#{2 * $table-cell-padding-x} + var(--bs-auto-table-focused-marker-size));
                }

                &:last-child {
                    padding-right: 2 * $table-cell-padding-x;
                }
            }

            &:first-child > * {
                border-top: none;
            }
        }

        & > [data-active="true"],
        & > .active {
            --bs-auto-table-accent-bg: var(--bs-auto-table-active-bg) !important;
            color: var(--bs-auto-table-active-color);
        }

        & > [data-selected="true"],
        & > .selected {
            @extend %row-accent;
        }
    }

    %row-accent {
        --bs-auto-table-accent-bg: var(--bs-auto-table-selected-bg) !important;
        color: var(--bs-auto-table-selected-color) !important;
        outline: none;
    }

    @include at-footer() {
        display: table-footer-group;
    }

    &.at-compact {
        & > * > * > * {
            padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;

            &:first-child {
                padding-left: calc(#{2 * $table-cell-padding-x-sm} + var(--bs-auto-table-focused-marker-size));
            }

            &:last-child {
                padding-right: 2 * $table-cell-padding-x-sm;
            }
        }
    }

    &.at-striped {
        @include at-body-row(":nth-of-type(#{$auto-table-striped-order})") {
            --bs-auto-table-accent-bg: var(--bs-auto-table-striped-bg);
            color: var(--bs-auto-table-striped-color);
        }
    }

    &.at-focus-marker {
        --bs-auto-table-focused-marker-size: #{map-get($spacers, 1)};

        @include at-body-row('[data-focused="true"],:focus') {
            @extend %row-accent;
            & > :first-child {
                box-shadow: inset var(--bs-auto-table-focused-marker-size) 0 0 var(--bs-auto-table-focused-marker-color);
            }
        }
    }

    &.at-hover {
        @include at-body-row(":hover") {
            --bs-auto-table-accent-bg: var(--bs-auto-table-hover-bg);
            color: var(--bs-auto-table-hover-color);
        }
    }

    &.at-hover-link {
        @include at-body-row(":hover") {
            --bs-auto-table-accent-bg: var(--bs-auto-table-hover-bg);
            color: $link-hover-color;
            text-decoration: none;
            cursor: default;
        }
    }

    &.at-material {
        @include at-header() {
            --bs-auto-table-header-bg: var(--bs-auto-table-bg);
            &.sticky-header {
                --bs-auto-table-header-bg: var(--bs-white);
            }
            & > * > * {
                border-left: none;
            }
        }

        & > * > * > * {
            padding-inline: $table-cell-padding-x;
        }

        @extend .at-compact;
        @extend .at-hover-link;
        @extend .at-focus-marker;
    }

    &.at-touch-friendly {
        touch-action: manipulation;
        @include at-body-row() {
            height: 3.6rem;
        }
    }

    @each $breakpoint, $indices in $trim-columns-map {
        @include media-breakpoint-down($breakpoint) {
            @each $i in $indices {
                &.trim#{breakpoint-infix($breakpoint)}-#{$i} > :not(.table-caption) > * > * {
                    @include display-no-children-since($i);
                }
            }
        }
    }

    @each $breakpoint, $indices in $hide-columns-map {
        @include media-breakpoint-down($breakpoint) {
            @each $i in $indices {
                &.hide#{breakpoint-infix($breakpoint)}-#{$i} > :not(.table-caption) > * > * {
                    @include display-no-child($i);
                }
            }
        }
    }
}
