$auto-table-striped-order: even;

.auto-table {
    --auto-table-bg: #{$table-bg};
    --auto-table-caption-bg: #{$light};
    --auto-table-header-bg: #{$light};
    --auto-table-accent-bg: transparent;
    --auto-table-striped-color: #{$table-striped-color};
    --auto-table-striped-bg: #{$table-striped-bg};
    --auto-table-active-color: #{$table-active-color};
    --auto-table-active-bg: #{$table-active-bg};
    --auto-table-hover-color: #{$table-hover-color};
    --auto-table-hover-bg: #{$table-hover-bg};
    --auto-table-selected-bg: #{$link-color};
    --auto-table-focused-marker-color: #{shade-color($link-color, 35%)};
    --auto-table-selected-color: white;
    --auto-table-padding-x: #{$table-cell-padding-x};
    --auto-table-padding-x-start: #{2 * $table-cell-padding-x};
    --auto-table-padding-x-end: #{2 * $table-cell-padding-x};
    --auto-table-padding-y: #{$table-cell-padding-y};

    display: table;
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    background-color: $table-bg;
    color: $table-color;
    vertical-align: $table-cell-vertical-align;
    border-color: $table-border-color;

    @mixin at-header {
        & > :not(.table-caption):first-of-type,
        & > .table-caption:first-of-type + * {
            @content;
        }
    }

    @mixin at-body {
        & > .table-caption:first-of-type ~ :nth-of-type(3),
        & > :not(.table-caption):first-of-type ~ :nth-of-type(2) {
            @content;
        }
    }

    @mixin at-body-row($selector: null) {
        @include at-body() {
            #{if($selector, selector-nest("& >", $selector), "& > *")} {
                @content;
            }
        }
    }

    @mixin at-footer {
        & > .table-footer:last-of-type {
            @content;
        }
    }

    & > * {
        display: table-row-group;
    }

    /* Table caption */
    & > .table-caption:first-of-type {
        display: table-caption;
        color: $table-caption-color;
        background-color: var(--auto-table-caption-bg);
        padding: $table-cell-padding-y $table-cell-padding-x;
        caption-side: top;
        border: none;
        &.sticky {
            position: sticky;
            top: 0;
            z-index: $zindex-sticky;
        }
    }

    /* Table header */
    @include at-header() {
        display: table-header-group;

        & > * > * {
            color: $table-color;
            background-color: var(--auto-table-header-bg);
            border-top: $table-border-width solid $table-border-color;
            border-bottom: $table-border-width solid $table-border-color;
            border-left: $table-border-width solid $table-border-color;
            font-weight: $headings-font-weight;
            &:first-child {
                border-left: none;
            }
        }

        &.sticky {
            position: sticky;
            top: 0;
            z-index: $zindex-sticky;
        }
    }

    /* Table row */
    & > :not(.table-caption) {
        & > * {
            display: table-row;
            background-color: var(--auto-table-bg);
            background-image: linear-gradient(var(--auto-table-accent-bg), var(--auto-table-accent-bg));

            & > * {
                display: table-cell;
                vertical-align: middle;
                white-space: nowrap;
                padding: var(--auto-table-padding-y) var(--auto-table-padding-x);
                border-top: $table-border-width solid $table-border-color;

                &.mw-1 {
                    max-width: 1px;
                }

                &:first-child {
                    padding-left: var(--auto-table-padding-x-start);
                }

                &:last-child {
                    padding-right: var(--auto-table-padding-x-end);
                }
            }

            &:first-child > * {
                border-top: none;
            }
        }

        & > [data-active="true"],
        & > .active {
            --auto-table-accent-bg: var(--auto-table-active-bg) !important;
            color: var(--auto-table-active-color);
        }

        & > [data-selected="true"],
        & > .selected {
            @extend %row-accent;
        }
    }

    %row-accent {
        --auto-table-accent-bg: var(--auto-table-selected-bg) !important;
        color: var(--auto-table-selected-color) !important;
        outline: none;
    }

    @include at-footer() {
        display: table-footer-group;
    }

    &.at-compact {
        --auto-table-padding-x: #{$table-cell-padding-x-sm};
        --auto-table-padding-x-start: #{2 * $table-cell-padding-x-sm};
        --auto-table-padding-x-end: #{2 * $table-cell-padding-x-sm};
        --auto-table-padding-y: #{$table-cell-padding-y-sm};
    }

    &.at-striped {
        @include at-body-row(":nth-of-type(#{$auto-table-striped-order})") {
            --auto-table-accent-bg: var(--auto-table-striped-bg);
            color: var(--auto-table-striped-color);
        }
    }

    &.at-focus-marker {
        --auto-table-focused-marker-size: #{map-get($spacers, 1)};

        & > :not(.table-caption) > * > :first-child {
            padding-inline-start: unquote(
                "calc(var(--auto-table-padding-x-start) + var(--auto-table-focused-marker-size))"
            );
        }

        @include at-body-row('[data-focused="true"],:focus') {
            @extend %row-accent;
            & > :first-child {
                box-shadow: inset var(--auto-table-focused-marker-size) 0 0 var(--auto-table-focused-marker-color);
            }
        }
    }

    &.at-hover {
        @include at-body-row(":hover") {
            --auto-table-accent-bg: var(--auto-table-hover-bg);
            color: var(--auto-table-hover-color);
        }
    }

    &.at-hover-link {
        @include at-body-row(":hover") {
            --auto-table-accent-bg: var(--auto-table-hover-bg);
            color: $link-hover-color;
            text-decoration: none;
            cursor: default;
        }
    }

    &.at-material {
        & > .table-caption:first-of-type {
            &.sticky {
                --auto-table-caption-bg: var(--bs-white);
            }
        }

        @include at-header() {
            --auto-table-header-bg: var(--auto-table-bg);
            &.sticky {
                --auto-table-header-bg: var(--bs-white);
            }
            & > * > * {
                border-left: none;
            }
        }

        & > * > * > * {
            padding-inline: $table-cell-padding-x;
        }

        @extend .at-compact;
        @extend .at-hover-link;
        @extend .at-focus-marker;
    }

    &.at-touch-friendly {
        touch-action: manipulation;
        @include at-body-row() {
            height: 3.6rem;
        }
    }
}
