$auto-table-striped-order: even;

.auto-table {
    --bs-auto-table-bg: #{$table-bg};
    --bs-auto-table-accent-bg: transparent;
    --bs-auto-table-striped-color: #{$table-striped-color};
    --bs-auto-table-striped-bg: #{$table-striped-bg};
    --bs-auto-table-active-color: #{$table-active-color};
    --bs-auto-table-active-bg: #{$table-active-bg};
    --bs-auto-table-hover-color: #{$table-hover-color};
    --bs-auto-table-hover-bg: #{$table-hover-bg};
    --bs-auto-table-selected-bg: #{$link-color};
    --bs-auto-table-selected-color: white;

    display: table;
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    background-color: $table-bg;
    color: $table-color;
    vertical-align: $table-cell-vertical-align;
    border-color: $table-border-color;

    & > div {
        display: table-row-group;
        border-top: (2 * $table-border-width) solid $table-border-color;

        &.table-caption:first-of-type {
            display: table-caption;
            color: $table-caption-color;
            padding: $table-cell-padding-y $table-cell-padding-x;
            caption-side: top;
        }

        &:not(.table-caption):first-of-type,
        &.table-caption:first-of-type + div {
            display: table-header-group;
            border-bottom: (2 * $table-border-width) solid $table-border-color;

            & > div {
                & > div {
                    :first-child {
                        border-left: none;
                    }

                    border-left: $table-border-width solid $table-border-color;
                    font-weight: $headings-font-weight;
                }
            }
        }

        & > div {
            display: table-row;
            background-color: var(--bs-auto-table-bg);
            background-image: linear-gradient(var(--bs-auto-table-accent-bg), var(--bs-auto-table-accent-bg));

            &[data-active="true"] {
                --bs-auto-table-accent-bg: var(--bs-auto-table-active-bg) !important;
                color: var(--bs-auto-table-active-color);
            }

            &[data-selected="true"] {
                --bs-auto-table-accent-bg: var(--bs-auto-table-selected-bg) !important;
                color: var(--bs-auto-table-selected-color) !important;
            }

            & > div {
                display: table-cell;
                vertical-align: middle;
                padding: $table-cell-padding-y $table-cell-padding-x;
                border-top: $table-border-width solid $table-border-color;

                &.cell-min {
                    width: 1px;
                }
            }

            & > div:first-child {
                padding-left: 2 * $table-cell-padding-x;
            }

            & > div:last-child {
                padding-right: 2 * $table-cell-padding-x;
            }
        }
    }

    &.table-compact {
        & > div {
            & > div {
                & > div {
                    padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
                }

                & > div:first-child {
                    padding-left: 2 * $table-cell-padding-x-sm;
                }

                & > div:last-child {
                    padding-right: 2 * $table-cell-padding-x-sm;
                }
            }
        }
    }

    &.table-striped {
        & > div.table-caption:first-of-type ~ :nth-of-type(3),
        & > div:not(.table-caption):first-of-type ~ :nth-of-type(2) {
            & > :nth-of-type(#{$auto-table-striped-order}) {
                --bs-auto-table-accent-bg: var(--bs-auto-table-striped-bg);
                color: var(--bs-auto-table-striped-color);
            }
        }
    }

    &.table-hover {
        & > div.table-caption:first-of-type ~ :nth-of-type(3),
        & > div:not(.table-caption):first-of-type ~ :nth-of-type(2) {
            & > :hover {
                --bs-auto-table-accent-bg: var(--bs-auto-table-hover-bg);
                color: var(--bs-auto-table-hover-color);
            }
        }
    }

    &.table-hover-link {
        & > div.table-caption:first-of-type ~ :nth-of-type(3),
        & > div:not(.table-caption):first-of-type ~ :nth-of-type(2) {
            & > :hover {
                --bs-auto-table-accent-bg: var(--bs-auto-table-hover-bg);
                color: $link-hover-color;
                text-decoration: none;
                cursor: default;
            }
        }
    }
}