@function infix($name) {
    @return if(($name == null) or ($name == ""), "", "-#{$name}");
}

// Media of at least the minimum breakpoint height. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and taller.
@mixin media-breakpoint-height-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-height: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

// Media of at most the maximum breakpoint height. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and smaller.
@mixin media-breakpoint-height-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
        @media (max-height: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin display-no-child($n) {
    &:nth-of-type(#{$n}) {
        display: none;
    }
}

@mixin display-no-children-since($n) {
    &:nth-of-type(n + #{$n}) {
        display: none;
    }
}

@mixin font-scale($scale) {
    font-size: $scale * 1em;
}

$missing-image-content: "\1F61F" !default;

@mixin image-box {
    position: relative;
    text-align: center;
    vertical-align: middle !important;
    object-fit: contain;
    // This renders in case of image download error
    &:after {
        content: $missing-image-content;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        color: $orange;
        outline: 1px dashed $orange;
        background-color: $orange-100;
    }
}

@mixin image-box-sized($width, $height) {
    width: $width;
    min-width: $width;
    height: $height;
    min-height: $height;
    line-height: $height;
}

@mixin overlay {
    position: absolute;
    z-index: $zindex-modal;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
