.player-skeleton {
    display: grid;
    height: 100%;
    place-items: center;
    gap: 0 0;
    grid:
        "art art art art art" 1fr
        "title title title title title" auto
        "prog prog prog prog prog" auto
        "mode prev play next vol" auto
        / 1fr auto auto auto 1fr;

    .art {
        grid-area: art;
        height: unquote("calc(100% - #{2 * map-get($spacers, 3)})");
        width: auto;
        aspect-ratio: 1 / 1;
        font-size: 3em;

        @media (max-height: 320px) {
            display: none;
        }

        @include unify-parent(svg) {
            color: $gray-300;
        }
    }

    .progress {
        grid-area: prog;
        justify-self: stretch;
        margin: map-get($spacers, 1) map-get($spacers, 2);
    }

    .title {
        grid-area: title;
        justify-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: map-get($spacers, 2);
        overflow: hidden;
        & > * {
            max-width: 100%;
        }
    }

    .prev-btn {
        grid-area: prev;
    }

    .next-btn {
        grid-area: next;
    }

    .play-btn {
        grid-area: play;
        font-size: 3em;
    }

    .volume-btn {
        grid-area: vol;
    }

    .mode-btn {
        grid-area: mode;
    }

    @media (max-height: 420px) {
        grid:
            "art art art art art art" 1fr
            "prog prog prog prog prog prog" auto
            "prev play next title mode vol" auto
            / auto auto auto minmax(0, 1fr) auto auto;
        gap: map-get($spacers, 1) 0;

        .art {
            height: 100%;
        }

        .play-btn {
            font-size: 2em;
        }
    }

    @media (min-width: 576px) and (min-height: 576px) {
        grid:
            "prog prog prog prog prog prog prog prog prog" auto
            "prev play next . art title . mode vol" auto
            / auto auto auto 1fr auto minmax(0, auto) 1fr auto auto;
        gap: 0 0;

        .art {
            height: 4rem;
            width: 4rem;
            margin-inline: map-get($spacers, 1);
        }

        .title {
            align-items: start;
        }

        .play-btn {
            font-size: 2em;
        }
    }
}