.slider {
    --slider-color: #{$link-color};
    --slider-hover-color: #{$link-hover-color};
    --slider-bg-color: #{$light};
    --slider-size: 0.15rem;
    --slider-ticker-size: calc(5 * var(--slider-size));
    --slider-ticker-scale-factor: 1.5;
    --slider-progress: 0;
    --slider-animation-duration: 0;
    --slider-animation-name: none;
    --slider-animation: var(--slider-animation-name) var(--slider-animation-duration) linear forwards;

    height: var(--slider-size);
    position: relative;
    background-color: var(--slider-bg-color);
    margin: calc(var(--slider-ticker-size) / 2) 0;
    transform: scale3d(1, 1.01, 1);

    &:hover {
        --slider-color: var(--slider-hover-color);
    }

    & > .slider-line {
        position: absolute;
        background-color: var(--slider-color);
        width: 100%;
        height: 100%;
        will-change: transform, animation;
        transform-origin: left top;
        transform: scale3d(var(--slider-progress), 1, 1);
        animation: var(--slider-animation);
    }

    & > .slider-ticker {
        position: absolute;
        width: 100%;
        height: 100%;
        will-change: transform, animation;
        transform: translate3d(calc((var(--slider-progress) - 1) * 100%), 0, 0);
        animation: var(--slider-animation-name) var(--slider-animation-duration) linear forwards;

        & > div {
            position: absolute;
            width: var(--slider-ticker-size);
            height: var(--slider-ticker-size);
            right: calc(var(--slider-ticker-size) / -2);
            top: calc((var(--slider-size) - var(--slider-ticker-size)) / 2);
            background-color: var(--slider-color);
            clip-path: circle(48%);
            will-change: transform;
            transition: transform 250ms ease-in-out;

            &:hover {
                transform: scale3d(var(--slider-ticker-scale-factor), var(--slider-ticker-scale-factor), 1);
            }
        }
    }
}

@mixin slider-run-animation($suffix) {
    @keyframes slider-run#{$suffix} {
        to {
            transform: scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0);
        }
    }
}

@include slider-run-animation("");
@include slider-run-animation("0");
@include slider-run-animation("1");
