/*********** Spoiler component general styles **********/

.spoiler {
    @include border-radius($border-radius);
    border: $border-width solid $border-color;
    overflow: hidden;

    & > [data-toggle="collapse"] {
        text-align: left;
        box-shadow: none !important;

        & > :nth-child(1) {
            @extend .fas;
            font-weight: bolder;

            &:before {
                content: fa-content($fa-var-angle-up);
            }
        }

        &.collapsed > :nth-child(1):before {
            content: fa-content($fa-var-angle-down);
        }
    }
}