/********** Form table general styles ***********/

.form-table {
    @extend .d-table;

    & > * {
        @extend .d-table-row;

        & > * {
            @extend .d-table-cell;
            @extend .d-table-row;

            &:nth-child(1) {
                text-align: right;
                padding-right: 0.5rem;
                white-space: nowrap !important;
                &::after {
                    content: ":";
                }
            }

            &:nth-child(2) {
                max-width: 0;
                width: 100%;
                @include text-truncate;
            }
        }
    }
}