$enable-gradients: true;

@import "../../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: "../webfonts";

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fa-solid.scss";

@import "display-grid.scss";

.navbar-side {
    @extend .navbar;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    position: sticky;
    top: 0;
}

.form-table {
    @extend .d-table;
    overflow: hidden;

    & > * {
        @extend .d-table-row;

        & > * {
            @extend .d-table-cell;

            &:nth-child(1) {
                text-align: right;
                padding-right: 0.5rem;
                white-space: nowrap !important;

                &::after {
                    content: ':';
                }
            }

            &:nth-child(2) {
                @include text-truncate;
            }
        }
    }
}

.d-flex-fill {
    @extend .d-flex;
    width: 100%;
    height: 100%;
}

.d-flex-fill-center {
    @extend .d-flex-fill;
    justify-content: center;
    align-items: center;
}

.upnp-dev-icon {
    width: 48px !important;
    height: auto;
    margin-right: 0.5rem;
}


.spoiler {
    @include border-radius($border-radius);
    border: $border-width solid $border-color;

    & > [data-toggle="collapse"] {
        @extend .btn;
        @extend .btn-block;
        text-align: left;
        box-shadow: none !important;
        outline: none !important;
        @include border-bottom-radius(0);

        & > i {
            @include fa-icon;
            @extend .fas;
            text-align: center;
            width: 1.25em;
            font-weight: bolder;

            &:before {
                content: fa-content($fa-var-angle-up);
            }
        }

        &.collapsed {
            @include border-radius(calc(#{$border-radius} - #{$border-width}));

            & > i {
                &:before {
                    content: fa-content($fa-var-angle-down);
                }
            }
        }
    }

    & > .collapse {
        @include border-top-radius(0);
        @include border-bottom-radius(calc(#{$border-radius} - #{$border-width}));
    }
}
