$enable-gradients: true;
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "fontawesome";
@import "layout-grid";
@import "layout-table";
@import "spoiler";
@import "form-table";
@import "modal";

@each $level in map-keys($grays) {
    .bg-gray-#{$level} {
        background-color: map-get($grays, $level);
    }
}

.sticky-bottom {
    bottom: 0;
    z-index: $zindex-sticky;
}

/********** Specific site element styles **********/

.navbar-side {
    @extend .navbar;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    position: sticky;
    top: 0;
}

.upnp-dev-icon {
    width: 48px !important;
    height: auto;
    margin-right: 0.5rem;
}

.album-art-icon {
    width: 2rem !important;
    height: 2rem !important;
    line-height: 2rem;
    text-align: center;
    display: inline-block;
    font-weight: bolder;
    &:after {
        content: "?";
    }
}

.icon-cntr {
    display: inline-block;
    position: relative;
    
    & > &-overlay {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        color: white;
    }

    *[data-selected="true"] & > &-overlay {
        color: $link-color;
    }

    &:hover > &-overlay {
        visibility: visible;
    }
}

.x-table-hover-link > * > *:hover .icon-cntr > .icon-cntr-overlay {
     visibility: visible;
}

svg.album-art-icon {
    vertical-align: middle !important;
}

input[type="checkbox"].chk-no-label {
    &:after {
        width: 20px;
        content: ("0");
        display: inline-block;
        background-color: red;
    }
    &:checked:after {
        content: ("1");
    }
}