/********** Grid Layout utilities **********/

$grid-layout-max-columns: 8;

$grid-layout-breakpoints: map-merge(
    $grid-breakpoints,
    (
        xxl: 1600px,
        xxxl: 1920px,
        xxxxl: 2560px
    )
);

@mixin grid-template($rows, $columns) {
    @if ($columns) {
        grid-template-columns: repeat($columns, 1fr);
    }

    @if ($rows) {
        grid-template-rows: repeat($rows, 1fr);
    }
}

.d-grid {
    display: grid;
    grid-gap: 15px;
}

.grid-no-gap {
    grid-gap: 0 !important;
}

@each $breakpoint in map-keys($grid-layout-breakpoints) {
    @include media-breakpoint-up($breakpoint, $grid-layout-breakpoints) {
        $infix: breakpoint-infix($breakpoint, $grid-layout-breakpoints);

        @for $i from 1 through $grid-layout-max-columns {
            .grid#{$infix}-c#{$i} {
                @include grid-template(null, $i);
            }
        }
    }
}