%modal-vh {
    .modal-content {
        .modal-header,
        .modal-footer {
            flex-shrink: 0;
        }
        .modal-body {
            overflow-y: auto;
        }
    }
}

@mixin modal-vh($percent) {
    .modal-vh-#{$percent} {
        @extend %modal-vh;
        .modal-content {
            height: #{$percent}vh;
        }
    }
}

$dialog-sizes: (80);

@each $p in $dialog-sizes {
    @include modal-vh($p);
}