/*********** Spoiler component general styles **********/

.spoiler {
    @include border-radius($border-radius);
    border: $border-width solid $border-color;
    overflow: hidden;

    & > [data-toggle="collapse"] {
        @extend .btn;
        @extend .btn-block;
        text-align: left;
        box-shadow: none !important;
        @include border-radius(0);

        & > i {
            @include fa-icon;
            @extend .fas;
            @include fa-icon-wide(1);
            font-weight: bolder;

            &:before {
                content: fa-content($fa-var-angle-up);
            }
        }

        &.collapsed {
            & > i {
                &:before {
                    content: fa-content($fa-var-angle-down);
                }
            }
        }
    }
}