[Unit]
Description=UPNP Controller Dashboard Service
Requires=network-online.target
After=network-online.target

[Service]
Type=notify
WorkingDirectory=/var/www/upnp-dashboard
ExecStart=/var/www/upnp-dashboard/Web.Upnp.Control
Restart=always
RestartSec=10
User=upnp-dashboard
Group=upnp-dashboard
KillSignal=SIGINT
SyslogIdentifier=upnp-dashboard
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target