$album-art-size-base: 2rem !default;

$album-art-scales: (
    null: 1,
    md: 1.5,
    xxl: 4
);

%album-art {
    @include image-box();

    @include unify-parent("svg") {
        fill: currentColor;
    }
}

@each $name, $scale in $album-art-scales {
    .album-art#{infix($name)} {
        @extend %album-art;
        @include image-box-sized($scale * $album-art-size-base, $scale * $album-art-size-base);
    }
}

.at-touch-friendly .album-art {
    @extend .album-art-md;
}