$transition-prefix: "tr-";
$animation-prefix: "an-";

@mixin animation($animations...) {
    animation: $animations;

    @media (prefers-reduced-motion: reduce) {
        animation: none;
    }
}

@keyframes fade {
    to {
        opacity: 0;
    }
}

@keyframes flip-y {
    from {
        scale: 1;
    }

    to {
        scale: 1 -1;
    }
}

@keyframes flip-x {
    from {
        scale: 1;
    }

    to {
        scale: -1 1;
    }
}

@keyframes half-turn {
    from {
        rotate: 0turn;
    }

    to {
        rotate: -0.5turn;
    }
}

@keyframes grid-expand {
    from {
        grid-template-rows: 0fr;
    }

    to {
        grid-template-rows: 1fr;
    }
}

@keyframes zoom {
    50% {
        scale: var(--#{$animation-prefix}zoom-scale) var(--#{$animation-prefix}zoom-scale) 1;
    }
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: var(--#{$animation-prefix}pulse-opacity-1);
    }

    50% {
        opacity: var(--#{$animation-prefix}pulse-opacity-2);
    }
}

@keyframes pop-in {
    from {
        scale: var(--#{$animation-prefix}pop-scale) var(--#{$animation-prefix}pop-scale) 1;
    }
}

@keyframes pop-out {
    to {
        scale: var(--#{$animation-prefix}pop-scale) var(--#{$animation-prefix}pop-scale) 1;
    }

}

@keyframes slide-up {
    from {
        translate: 0 var(--#{$animation-prefix}slide-y) 0;
    }
}

@keyframes slide-pop {
    from {
        translate: 0 var(--#{$animation-prefix}slide-y) 0;
        scale: var(--#{$animation-prefix}pop-scale) var(--#{$animation-prefix}pop-scale) 1;
    }
}

:root {
    // --#{$animation-prefix}ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
    // --#{$animation-prefix}ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
    // --#{$animation-prefix}ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
    // --#{$animation-prefix}ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
    // --#{$animation-prefix}ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
    // --#{$animation-prefix}ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
    // --#{$animation-prefix}ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
    // --#{$animation-prefix}ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
    // --#{$animation-prefix}ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
    // --#{$animation-prefix}ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --#{$animation-prefix}ease-in-circ: cubic-bezier(0.55, 0, 1, 0.45);
    --#{$animation-prefix}ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);

    --#{$animation-prefix}duration-0: 125ms;
    --#{$animation-prefix}duration-1: 250ms;
    --#{$animation-prefix}duration-2: 500ms;
    --#{$animation-prefix}duration-3: 2s;

    --#{$animation-prefix}pulse-opacity-1: 1;
    --#{$animation-prefix}pulse-opacity-2: 0.7;
    --#{$animation-prefix}pop-scale: 0.5;
    --#{$animation-prefix}zoom-scale: 1.2;
    --#{$animation-prefix}slide-y: 50%;
    --#{$animation-prefix}pulse: pulse var(--#{$animation-prefix}duration-3) ease-in-out infinite;
    --#{$animation-prefix}spin: spin var(--#{$animation-prefix}duration-3) linear infinite;
    --#{$animation-prefix}pop-in: pop-in var(--#{$animation-prefix}duration-2) ease-in;
    --#{$animation-prefix}pop-out: pop-out var(--#{$animation-prefix}duration-2) ease-out;
    --#{$animation-prefix}slide-up: slide-up var(--#{$animation-prefix}duration-2) ease;
    --#{$animation-prefix}slide-pop: slide-pop var(--#{$animation-prefix}duration-2) ease;
    --#{$transition-prefix}fade: opacity var(--#{$animation-prefix}duration-1) ease;
    --#{$transition-prefix}slide: translate var(--#{$animation-prefix}duration-1) ease;
}

.animate-spin {
    @include animation(var(--#{$animation-prefix}spin));
}

.animate-pulse {
    @include animation(var(--#{$animation-prefix}pulse));
}

.fade-in-out {
    @include transition(var(--#{$transition-prefix}fade));
    transition-delay: 125ms;
}