@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        color: rgba($color: #fff, $alpha: 1);
    }

    50% {
        color: rgba($color: #fff, $alpha: 0.7);
    }

    100% {
        color: rgba($color: #fff, $alpha: 1);
    }
}

.animate-spin {
    animation: spin 2s linear 0s infinite;
}

.animate-pulse {
    animation: fade 1.5s ease-in-out infinite;
}

.fade-in-out {
    @include transition(opacity 250ms ease-in-out 125ms);
}