.shell {
    height: 100dvb;
    display: grid;
    grid-template: 1fr auto / auto 1fr;
    grid-template-areas: "main main" "navbar navbar";

    & > .navbar {
        --#{$prefix}navbar-padding-x: #{map-get($spacers, 1)};
        --#{$prefix}navbar-padding-y: #{map-get($spacers, 1)};
        grid-area: navbar;

        & > nav {
            display: flex;
            flex: 1;

            & > .nav-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                overflow: hidden;
                @include font-size(var(--#{$prefix}nav-link-font-size-md));

                & > svg {
                    margin: unset;
                    font-size: 1rem;
                }
            }
        }
    }

    & > main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        contain: content;
        container: main / size;
    }

    @include media-breakpoint-up(sm) {
        grid-template-areas: "navbar main" "navbar main";

        & > .navbar {
            --#{$prefix}navbar-nav-link-padding-x: #{calc($nav-link-padding-x / 2)};
            flex-direction: column;
            align-items: stretch;

            & > nav {
                flex-direction: column;
                flex: 0;
            }
        }
    }

    @include media-breakpoint-up(md) {
        & > .navbar {
            --#{$prefix}navbar-nav-link-padding-x: #{$nav-link-padding-x};

            & > nav > .nav-link {
                flex-direction: row;
                @include font-size(var(--#{$prefix}nav-link-font-size));

                & > svg {
                    margin-right: calc($spacer / 2);
                    font-size: calc($icon-scale * 1em);
                }
            }
        }
    }
}