.shell {
    height: 100dvb;
    display: grid;
    grid-template: 1fr auto / auto 1fr;
    grid-template-areas: "main main" "navbar navbar";

    & > .navbar {
        --#{$prefix}navbar-padding-x: 0;
        --#{$prefix}navbar-padding-y: 0;
        --#{$prefix}navbar-nav-link-padding-x: #{$nav-link-padding-y};
        --#{$prefix}navbar-focus-box-shadow: ;
        grid-area: navbar;
        font-size: small;
        gap: #{map-get($spacers, 2)};

        & > nav {
            display: flex;
            flex: 1;

            & > .nav-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                overflow: hidden;

                & > svg {
                    margin: unset;
                    box-sizing: content-box;
                    width: min(64px, 100%);
                    padding-block: #{map-get($spacers, 1)};
                    border-radius: 1em;
                }

                &.active > svg {
                    color: var(--#{$prefix}navbar-icon-active-color);
                    background-color: var(--#{$prefix}navbar-active-bg);
                }

                &:hover > svg {
                    background-image: var(--#{$prefix}hover-layer);
                }

                &:is(:active, :focus-visible) > svg {
                    background-image: var(--#{$prefix}focus-layer);
                }
            }
        }
    }

    & > main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        contain: content;
        container: main / size;
    }

    @include media-breakpoint-up(sm) {
        grid-template-areas: "navbar main" "navbar main";

        & > .navbar {
            --#{$prefix}navbar-padding-y: #{map-get($spacers, 3)};
            --#{$prefix}navbar-nav-link-padding-x: #{calc($nav-link-padding-x / 2)};
            flex-direction: column;
            align-items: stretch;
            justify-content: center;

            & > nav {
                flex-direction: column;
                flex: 0;

                & > .nav-link > svg {
                    width: min(56px, 100%);
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        & > .navbar {
            --#{$prefix}navbar-padding-x: #{map-get($spacers, 3)};
            --#{$prefix}navbar-nav-link-padding-x: #{$nav-link-padding-x};
            --#{$prefix}navbar-focus-box-shadow: #{$navbar-focus-box-shadow};
            font-size: unset;

            & > nav {
                gap: map-get($spacers, 1);

                & > .nav-link {
                    flex-direction: row;
                    border-radius: 1lh;

                    &.active {
                        background-color: var(--#{$prefix}navbar-active-bg);
                    }

                    &:hover {
                        background-image: var(--#{$prefix}hover-layer);
                    }

                    &:is(:focus-visible, :active) {
                        background-image: var(--#{$prefix}focus-layer);
                    }

                    & > svg {
                        width: 1em;
                        margin-right: #{map-get($spacers, 3)};
                        padding: 0;
                        border-radius: 0;
                    }

                    &:is(.active, :active, :focus, :hover) > svg {
                        background: initial;
                    }
                }
            }
        }
    }
}