$backdrop-opacity: 0.2 !default;
$backdrops-colors: (null primary error) !default;

%backdrop {
    @include overlay;
}

@each $name in $backdrops-colors {
    .backdrop#{infix($name)} {
        @extend %backdrop;
        $color: map-get($theme-colors, $name);

        @if($color !=null) {
            background-color: rgba(var(--#{$prefix}#{$name}-rgb), $backdrop-opacity);
            color: var(--#{$prefix}on-#{$name});
        }
        @else {
            background-color: rgba(var(--#{$prefix}on-surface-rgb), $backdrop-opacity);
            color: var(--#{$prefix}surface);
        }
    }
}