:where(button, a, .link-placeholder) {
    > :where(img, svg) {
        &:first-child {
            @extend %image-icon;
        }
    }
}

.link-placeholder.disabled {
    opacity: #{$btn-disabled-opacity};
}

.toolbar {
    display: inline-flex;
    gap: map-get($spacers, 2);
}

.btn-plain,
.toolbar > :is(button, .btn:is(a, span)) {
    //--#{$prefix}btn-color: inherit;
    --#{$prefix}btn-border-width: 0;
    //--#{$prefix}btn-box-shadow: none;
    --#{$prefix}gradient: none;
    --#{$prefix}btn-active-bg: rgba(0, 0, 0, .3);
    --#{$prefix}btn-hover-bg: rgba(0, 0, 0, .2);
    --#{$prefix}btn-focus-shadow-rgb: 0, 0, 0;
    --#{$prefix}btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .4);

    &:focus-visible {
        --#{$prefix}btn-hover-bg: rgba(0, 0, 0, .1);
    }
}
}

.btn-round,
.toolbar-compact > :is(button, .btn:is(a, span)) {
    --#{$prefix}btn-border-radius: 50%;
    --#{$prefix}btn-line-height: 0;
    --#{$prefix}btn-padding-y: var(--#{$prefix}btn-padding-x);
}

.btn-stack {
    --#{$prefix}btn-padding-x: 0;
    --#{$prefix}btn-padding-y: 0;
    --#{$prefix}btn-color: inherit;
    --#{$prefix}btn-border-width: 0;
    --#{$prefix}btn-box-shadow: none;
    --#{$prefix}gradient: none;
    --#{$prefix}btn-focus-shadow-rgb: 0, 0, 0;
    @extend %grid-stack;
    overflow: hidden;

    > :first-child {
        margin: initial;
    }

    > .hover-show {
        opacity: 0;
    }

    &:is(:hover, :focus-visible) {
        > .hover-show {
            opacity: 1;
        }

        > .hover-hide {
            opacity: 0;
        }
    }
}

.float-container {
    --#{$prefix}float-shadow-offset: 2px;
    --#{$prefix}float-shadow-radius: 4px;
    --#{$prefix}float-shadow-color: #00000088;
    --#{$prefix}float-size: calc(1.375rem + 1.5vw);
    z-index: $zindex-dropdown - 5;
    position: absolute;
    bottom: 0;
    filter: drop-shadow(var(--#{$prefix}float-shadow-offset) var(--#{$prefix}float-shadow-offset) var(--#{$prefix}float-shadow-radius) var(--#{$prefix}float-shadow-color));

    & > button {
        font-size: var(--#{$prefix}float-size);
    }
}