:where(button, a) {

    > img,
    > svg {
        &:first-child {
            @extend .icon;
        }
    }

    > :is(svg, img):first-child {
        margin-right: map-get($spacers, 1);
    }
}

.btn-round {
    --#{$prefix}btn-border-width: 0;
    --#{$prefix}btn-border-radius: 0;
    --#{$prefix}btn-line-height: 0;
    --#{$prefix}btn-padding-y: var(--#{$prefix}btn-padding-x);
    clip-path: circle(49.5%);
    border-radius: 0;
    
    & > :is(svg, img):first-child {
        margin: 0;
    }
}

.btn-plain {
    --#{$prefix}btn-plain-hover-color: #{$dropdown-link-hover-color};
    --#{$prefix}btn-plain-active-color: #{$dropdown-link-active-color};
    --#{$prefix}btn-plain-hover-bg: #{$dropdown-link-hover-bg};
    --#{$prefix}btn-plain-active-bg: #{$dropdown-link-active-bg};
    --#{$prefix}btn-color: inherit;
    @extend %no-decoration;
    background-image: none;

    &:is(:focus-visible, :hover) {
        color: var(--#{$prefix}btn-plain-hover-color);
        @include gradient-bg(var(--#{$prefix}btn-plain-hover-bg));
    }

    &:is(.active, :active) {
        color: var(--#{$prefix}btn-plain-active-color);
        @include gradient-bg(var(--#{$prefix}btn-plain-active-bg));
    }
}

.btn-overlay {
    @extend %no-decoration;
    display: flex;
    padding: unset;
    width: 100%;
    height: 100%;
}

.float-container {
    --#{$prefix}float-shadow-offset: 2px;
    --#{$prefix}float-shadow-radius: 4px;
    --#{$prefix}float-shadow-color: #00000088;
    --#{$prefix}float-size: calc(1.375rem + 1.5vw);
    z-index: $zindex-dropdown - 5;
    position: absolute;
    bottom: 0;
    filter: drop-shadow(var(--#{$prefix}float-shadow-offset) var(--#{$prefix}float-shadow-offset) var(--#{$prefix}float-shadow-radius) var(--#{$prefix}float-shadow-color));

    & > button {
        font-size: var(--#{$prefix}float-size);
    }
}