// Primary colors
$primary: #6750A4;
$on-primary: #FFFFFF;
$primary-container: #EADDFF;
$on-primary-container: #21005D;

// Secondary colors
$secondary: #625B71;
$on-secondary: #FFFFFF;
$secondary-container: #E8DEF8;
$on-secondary-container: #1D192B;

// Tertiary colors
$tertiary: #7D5260;
$on-tertiary: #FFFFFF;
$tertiary-container: #FFD8E4;
$on-tertiary-container: #31111D;

// Error colors
$error: #B3261E;
$on-error: #FFFFFF;
$error-container: #F9DEDC;
$on-error-container: #410E0B;

// Surface colors
$surface: #FEF7FF;
$on-surface: #1D1B20;
$surface-variant: #E7E0EC;
$on-surface-variant: #49454F;
$surface-inverse: #322F35;
$on-surface-inverse: #F5EFF7;
$surface-tint: #6750A4;
$surface-container-highest: #E6E0E9;
$surface-container-high: #ECE6F0;
$surface-container: #F3EDF7;
$surface-container-low: #F7F2FA;
$surface-container-lowest: #FFFFFF;

// Outline colors
$outline: #79747E;
$outline-variant: #CAC4D0;

// Primary dark colors
$primary-dark: #D0BCFF;
$on-primary-dark: #381E72;
$primary-container-dark: #4F378B;
$on-primary-container-dark: #EADDFF;

// Secondary dark colors
$secondary-dark: #CCC2DC;
$on-secondary-dark: #332D41;
$secondary-container-dark: #4A4458;
$on-secondary-container-dark: #E8DEF8;

// Tertiary dark colors
$tertiary-dark: #EFB8C8;
$on-tertiary-dark: #492532;
$tertiary-container-dark: #633B48;
$on-tertiary-container-dark: #FFD8E4;

// Error dark colors
$error-dark: #F2B8B5;
$on-error-dark: #601410;
$error-container-dark: #8C1D18;
$on-error-container-dark: #F9DEDC;

// Surface dark colors
$surface-dark: #141218;
$on-surface-dark: #E6E0E9;
$surface-variant-dark: #49454F;
$on-surface-variant-dark: #CAC4D0;
$surface-inverse-dark: #E6E0E9;
$on-surface-inverse-dark: #322F35;
$surface-tint-dark: #D0BCFF;
$surface-container-highest-dark: #36343B;
$surface-container-high-dark: #2B2930;
$surface-container-dark: #211F26;
$surface-container-low-dark: #1D1B20;
$surface-container-lowest-dark: #0F0D13;

// Outline dark colors
$outline-dark: #938F99;
$outline-variant-dark: #49454F;

// Botstrap overrides
$body-color: $on-surface;
$body-emphasis-color: #000;
$body-bg: $surface;

$body-color-dark: $on-surface-dark;
$body-emphasis-color-dark: #FFF;
$body-bg-dark: $surface-dark;