$modal-content-color: $on-surface-color;
$modal-content-bg: $surface-container-high-color;
$modal-footer-bg: transparent;
$modal-footer-border-color: $outline-color;
$modal-footer-margin-between: map-get($spacers, 3);
$modal-content-border-radius: $corner-xl;
$modal-content-border-width: 0;
$modal-content-border-color: transparent;
$modal-inner-padding: map-get($spacers, 4);
$modal-dialog-margin: map-get($spacers, 3);
$modal-header-padding-x: 0;
$modal-header-padding-y: 0;
$modal-header-border-color: $outline-color;
$modal-body-padding-x: 0;
$modal-body-padding-y: map-get($spacers, 3) map-get($spacers, 4);

.dialog {
    --#{$prefix}dialog-width: fit-content;
    --#{$prefix}dialog-height: fit-content;
    --#{$prefix}dialog-margin: #{$modal-dialog-margin};
    --#{$prefix}dialog-padding: #{$modal-inner-padding};
    --#{$prefix}dialog-color: #{$modal-content-color};
    --#{$prefix}dialog-bg: #{$modal-content-bg};
    --#{$prefix}dialog-border-color: #{$modal-content-border-color};
    --#{$prefix}dialog-border-width: #{$modal-content-border-width};
    --#{$prefix}dialog-border-radius: #{$modal-content-border-radius};
    --#{$prefix}dialog-box-shadow: var(--#{$prefix}shadow-l3);
    --#{$prefix}dialog-transition-transform: translate3d(0, var(--#{$animation-prefix}slide-y), 0) scale3d(var(--#{$animation-prefix}pop-scale), var(--#{$animation-prefix}pop-scale), 1);
    --#{$prefix}dialog-transition-duration: var(--#{$animation-prefix}duration-1);
    --#{$prefix}dialog-body-padding-x: #{$modal-body-padding-x};
    --#{$prefix}dialog-body-padding-y: #{$modal-body-padding-y};
    --#{$prefix}dialog-header-gap: #{$modal-footer-margin-between};
    --#{$prefix}dialog-header-bg: #{$modal-footer-bg};
    --#{$prefix}dialog-header-padding-x: #{$modal-header-padding-x};
    --#{$prefix}dialog-header-padding-y: #{$modal-header-padding-y};
    --#{$prefix}dialog-header-border-color: #{$modal-header-border-color};
    --#{$prefix}dialog-header-border-width: 0;
    --#{$prefix}dialog-title-line-height: #{$modal-title-line-height};
    --#{$prefix}dialog-footer-gap: #{$modal-footer-margin-between};
    --#{$prefix}dialog-footer-bg: #{$modal-footer-bg};
    --#{$prefix}dialog-footer-border-color: #{$modal-footer-border-color};
    --#{$prefix}dialog-footer-border-width: 0;

    display: none;
    flex-flow: column nowrap;
    inset: 0;
    min-width: 280px;
    width: var(--#{$prefix}dialog-width);
    max-width: min(560px, calc(100vw - 2 * var(--#{$prefix}dialog-margin)));
    height: var(--#{$prefix}dialog-height);
    max-height: calc(100svh - 2 * var(--#{$prefix}dialog-margin));
    padding: var(--#{$prefix}dialog-padding);
    opacity: 0;
    z-index: $zindex-modal;
    color: var(--#{$prefix}dialog-color);
    pointer-events: none;
    background-color: var(--#{$prefix}dialog-bg);
    border: var(--#{$prefix}dialog-border-width) solid var(--#{$prefix}dialog-border-color);
    @include border-radius(var(--#{$prefix}dialog-border-radius));
    box-shadow: var(--#{$prefix}dialog-box-shadow);
    transform: var(--#{$prefix}dialog-transition-transform);
    @include transition(opacity linear, transform ease-in-out, display allow-discrete, overlay allow-discrete);
    transition-duration: var(--#{$prefix}dialog-transition-duration);

    &[open] {
        display: flex;
        pointer-events: auto;
        transform: none;

        &,
        &::backdrop {
            opacity: 1;

            @starting-style {
                opacity: 0;
            }
        }

        @starting-style {
            transform: var(--#{$prefix}dialog-transition-transform);
        }
    }

    &::backdrop {
        opacity: 0;
        background-color: var(--#{$prefix}backdrop-bg-color);
        backdrop-filter: blur(var(--#{$prefix}backdrop-blur-radius));
        @include transition(opacity linear, display allow-discrete, overlay allow-discrete);
        transition-duration: var(--#{$prefix}backdrop-transition-duration);
    }

    > form {
        display: grid;
        grid: "header" auto "body" 1fr "actions" auto / 100%;
        flex: 1;
    }
}

.dialog-scrollable {
    > form {
        overflow: hidden;
    }

    .dialog-body {
        overflow: hidden auto;
    }
}

.dialog-body {
    grid-area: body;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding-block: var(--#{$prefix}dialog-body-padding-y);
    padding-inline: var(--#{$prefix}dialog-body-padding-x);
    color: $on-surface-variant-color;
}

.dialog-body-flush {
    .dialog-body {
        padding: 0;
    }
}

.dialog-header {
    grid-area: header;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-block: var(--#{$prefix}dialog-header-padding-y);
    padding-inline: var(--#{$prefix}dialog-header-padding-x);
    background-color: var(--#{$prefix}dialog-header-bg);
    border-bottom: var(--#{$prefix}dialog-header-border-width) solid var(--#{$prefix}dialog-header-border-color);

    .dialog-title {
        line-height: var(--#{$prefix}dialog-title-line-height);
        margin: 0;
    }

    .btn-close {
        display: none;
        flex: 0 0 auto;
    }

    svg {
        color: $secondary-color;
        font-size: 28px;
    }

    &:has(svg:nth-child(-n + 2)) {
        flex-flow: column;
        gap: var(--#{$prefix}dialog-header-gap);
    }
}

.dialog-actions {
    grid-area: actions;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: var(--#{$prefix}dialog-footer-gap);
    background-color: var(--#{$prefix}dialog-footer-bg);
    border-top: var(--#{$prefix}dialog-footer-border-width) solid var(--#{$prefix}dialog-footer-border-color);
}

$fullscreen-sizes: null sm;

@mixin dialog-fullscreen {
    --#{$prefix}dialog-bg: #{$surface-color};
    --#{$prefix}dialog-border-width: 0;
    --#{$prefix}dialog-box-shadow: none;
    --#{$prefix}dialog-border-radius: 0;
    --#{$prefix}dialog-header-padding-y: 0;
    --#{$prefix}dialog-header-padding-x: 16px 0;
    max-width: unset;
    max-height: unset;
    height: auto;
    width: auto;
    padding: 0;

    & > form {
        grid: "header actions" auto "body body" 1fr / 1fr auto;
    }

    .dialog-header {
        min-height: 56px;

        .btn-close {
            display: block;
        }
    }

    .dialog-actions {
        padding-inline: 16px;

        button:not([value]) {
            display: none;
        }
    }
}

@each $size in $fullscreen-sizes {
    @if($size) {
        @include media-breakpoint-down($size) {
            .dialog-fullscreen-#{$size}-down {
                @include dialog-fullscreen;
            }
        }
    }

    @else {
        .dialog-fullscreen {
            @include dialog-fullscreen;
        }
    }
}

.dialog-md {
    --#{$prefix}dialog-width: 420px;
}

.dialog-lg {
    --#{$prefix}dialog-width: 560px;
}