.dropdown-item {
    @extend .text-truncate;

    > :where(svg, img):first-child {
        margin-right: map-get($spacers, 3);
    }

    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none;
    }
}

@media (pointer: coarse) {
    .dropdown-item {
        padding-block: map-get($spacers, 3);
    }
}