$dropdown-bg: $surface-container-color;
$dropdown-color: $on-surface-color;
$dropdown-border-radius: $corner-xs;
$dropdown-inner-border-radius: $corner-xs;
$dropdown-border-width: 0;
$dropdown-border-color: transparent;
$dropdown-link-color: $on-surface-color;
$dropdown-link-hover-color: $on-surface-color;
$dropdown-link-hover-bg: transparent;
$dropdown-link-active-color: $on-surface-color;
$dropdown-link-active-bg: transparent;
$dropdown-link-disabled-color: rgba(var(--#{$prefix}on-surface-rgb), $disabled-state-opacity);
$dropdown-header-color: $dropdown-link-color;
$dropdown-divider-bg: $surface-variant-color;
$dropdown-box-shadow: var(--#{$prefix}shadow-l2);
$dropdown-item-padding-x: 12px;
$dropdown-divider-margin-y: 8px;
$dropdown-min-width: 15ch;
$dropdown-max-width: 30ch;

@mixin display {
    display: block;
    opacity: 0.75;

    @starting-style {
        opacity: 0;
        display: block;
    }
}

// The dropdown menu
.dropdown-menu {
    // scss-docs-start dropdown-css-vars
    --#{$prefix}dropdown-zindex: #{$zindex-dropdown};
    --#{$prefix}dropdown-min-width: #{$dropdown-min-width};
    --#{$prefix}dropdown-max-width: #{$dropdown-max-width};
    --#{$prefix}dropdown-padding-x: #{$dropdown-padding-x};
    --#{$prefix}dropdown-padding-y: #{$dropdown-padding-y};
    --#{$prefix}dropdown-spacer: #{$dropdown-spacer};
    @include rfs($dropdown-font-size, --#{$prefix}dropdown-font-size);
    --#{$prefix}dropdown-color: #{$dropdown-color};
    --#{$prefix}dropdown-bg: #{$dropdown-bg};
    --#{$prefix}dropdown-border-color: #{$dropdown-border-color};
    --#{$prefix}dropdown-border-radius: #{$dropdown-border-radius};
    --#{$prefix}dropdown-border-width: #{$dropdown-border-width};
    --#{$prefix}dropdown-inner-border-radius: #{$dropdown-inner-border-radius};
    --#{$prefix}dropdown-divider-bg: #{$dropdown-divider-bg};
    --#{$prefix}dropdown-divider-margin-x: 0;
    --#{$prefix}dropdown-divider-margin-y: #{$dropdown-divider-margin-y};
    --#{$prefix}dropdown-box-shadow: #{$dropdown-box-shadow};
    --#{$prefix}dropdown-link-color: #{$dropdown-link-color};
    --#{$prefix}dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --#{$prefix}dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    --#{$prefix}dropdown-link-active-color: #{$dropdown-link-active-color};
    --#{$prefix}dropdown-link-active-bg: #{$dropdown-link-active-bg};
    --#{$prefix}dropdown-link-disabled-color: #{$dropdown-link-disabled-color};
    --#{$prefix}dropdown-item-padding-x: #{$dropdown-item-padding-x};
    --#{$prefix}dropdown-item-padding-y: #{$dropdown-item-padding-y};
    --#{$prefix}dropdown-header-color: #{$dropdown-header-color};
    --#{$prefix}dropdown-header-padding-x: #{$dropdown-header-padding-x};
    --#{$prefix}dropdown-header-padding-y: #{$dropdown-header-padding-y};
    --#{$prefix}dropdown-transition: none;
    --#{$prefix}dropdown-transition-duration: var(--#{$animation-prefix}duration-1);
    --#{$prefix}placement: auto;

    position: absolute;
    z-index: var(--#{$prefix}dropdown-zindex);
    display: none; // none by default, but flex on "open" of the menu
    flex-direction: column;
    overflow: hidden auto;
    min-width: var(--#{$prefix}dropdown-min-width);
    max-width: var(--#{$prefix}dropdown-max-width);
    padding: var(--#{$prefix}dropdown-padding-y) var(--#{$prefix}dropdown-padding-x);
    margin: 0; // Override default margin of ul
    @include font-size(var(--#{$prefix}dropdown-font-size));
    color: var(--#{$prefix}dropdown-color);
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    background-color: var(--#{$prefix}dropdown-bg);
    background-clip: padding-box;
    border: var(--#{$prefix}dropdown-border-width) solid var(--#{$prefix}dropdown-border-color);
    @include border-radius(var(--#{$prefix}dropdown-border-radius));
    box-shadow: var(--#{$prefix}dropdown-box-shadow);
    @include transition(var(--#{$prefix}dropdown-transition));
    transition-duration: var(--#{$prefix}dropdown-transition-duration);
    overscroll-behavior: contain;

    @if $dropdown-padding-y == 0 {
        > .dropdown-item:first-child,
        > li:first-child .dropdown-item {
            @include border-top-radius(var(--#{$prefix}dropdown-inner-border-radius));
        }

        > .dropdown-item:last-child,
        > li:last-child .dropdown-item {
            @include border-bottom-radius(var(--#{$prefix}dropdown-inner-border-radius));
        }
    }

    &[popover] {
        position: fixed;

        &:popover-open {
            display: flex;
        }
    }

    & > :is(ul, dl, ol):only-child {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        overscroll-behavior: contain;

        @supports (container-type: scroll-state) {
            container-type: scroll-state;

            &::before,
            &::after {
                display: none;
                position: absolute;
                padding: map-get($spacers, 1);
                line-height: 0;
                justify-self: center;
                pointer-events: none;
                user-select: none;
                background-color: var(--#{$prefix}surface-cntr-highest);
                border-radius: 100%;
                opacity: 0;
                @include transition(var(--#{$transition-prefix}fade), display allow-discrete);
                transition-duration: var(--#{$animation-prefix}duration-2);
            }

            &::before {
                content: var(--bs-arrow-up-icon);
                inset-block-start: map-get($spacers, 1);
            }

            &::after {
                content: var(--bs-arrow-down-icon);
                inset-block-end: map-get($spacers, 1);
            }

            @container scroll-state(scrollable: top) {
                &::before {
                    @include display;
                }
            }

            @container scroll-state(scrollable: bottom) {
                &::after {
                    @include display;
                }
            }
        }
    }
}

// Dividers (basically an `<hr>`) within the dropdown
.dropdown-divider {
    height: 0;
    margin: var(--#{$prefix}dropdown-divider-margin-y) var(--#{$prefix}dropdown-divider-margin-x);
    overflow: hidden;
    border-top: 1px solid var(--#{$prefix}dropdown-divider-bg);
    opacity: 1; // Revisit in v6 to de-dupe styles that conflict with <hr> element
}

.dropdown-item {
    display: flex;
    align-items: center;
    min-height: 48px;
    width: 100%; // For `<button>`s
    padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);
    gap: $dropdown-item-padding-x;
    font-weight: $font-weight-normal;
    color: var(--#{$prefix}dropdown-link-color);
    text-align: inherit; // For `<button>`s
    text-decoration: none;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background-color: transparent; // For `<button>`s
    border: 0; // For `<button>`s
    @include border-radius(var(--#{$prefix}dropdown-item-border-radius, 0));

    &:hover {
        color: var(--#{$prefix}dropdown-link-hover-color);
        background-image: var(--#{$prefix}hover-layer-cc);
    }

    &.active,
    &:active,
    &:focus {
        color: var(--#{$prefix}dropdown-link-active-color);
        background-image: var(--#{$prefix}focus-layer-cc);
        box-shadow: none;
    }

    &:focus-visible {
        outline: var(--#{$prefix}focus-ring);
        outline-offset: -3px;
    }

    &.disabled,
    &:disabled {
        color: var(--#{$prefix}dropdown-link-disabled-color);
        pointer-events: none;
        background-color: transparent;
    }

    & > :is(svg, img) {
        font-size: 24px;
    }

    &:not(:disabled, .disabled) > :is(svg, img) {
        color: $on-surface-variant-color;
    }

    & > :where(span, p):first-of-type {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

// Dropdown section headers
.dropdown-header {
    display: block;
    padding: var(--#{$prefix}dropdown-header-padding-y) var(--#{$prefix}dropdown-header-padding-x);
    margin-bottom: 0; // for use with heading elements
    @include font-size($font-size-sm);
    color: var(--#{$prefix}dropdown-header-color);
    white-space: nowrap; // as with > li > a
}

// Dropdown text
.dropdown-item-text {
    display: block;
    padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);
    color: var(--#{$prefix}dropdown-link-color);
}

.dropdown-menu.fade {
    --#{$prefix}dropdown-transition: opacity linear, display allow-discrete, overlay allow-discrete;
    opacity: 0;

    &[popover]:popover-open {
        opacity: 1;

        @starting-style {
            opacity: 0;
        }
    }

    // Disable fade transition for Safari, because it is buggy
    @supports (hanging-punctuation: first) and (-webkit-appearance: none) {
        --#{$prefix}dropdown-transition: none;
    }
}

$main-placements: left right top bottom;
$alt-placements: start end center;
$placements: [];

@each $main in $main-placements {
    $placements: append($placements, #{$main});

    @each $alt in $alt-placements {
        $placements: append($placements, #{$main}-#{$alt});
    }
}

$all-placements: join([auto fixed], $placements);
$placement-syntax: "";

@for $i from 1 to length($all-placements) + 1 {
    $placement-syntax: $placement-syntax + if($i !=1, " | ", "") + nth($all-placements, $i);
}

@property --#{$prefix}placement {
    syntax: "#{$placement-syntax}";
    inherits: true;
    initial-value: auto;
}

@each $placement in $all-placements {
    .drop-#{$placement} {
        --#{$prefix}placement: #{$placement};
    }
}

$margin: map-get($spacers, 3);
$offset: map-get($spacers, 1);

@supports (anchor-name: --anchor) {
    .dropdown-menu {
        --safe-option: ;
        // Currently only Chrome supports 'stretch' size value
        // Let's use this fact to enable more complex 'start-end shift' logic
        // for .drop-top, .drop-bottom, .drop-left and .drop-right positions
        // in Chrome browser where everything works as expected unlike Safari and Firefox
        // where we must resort to the same primitive logic as in the .drop-{main}-center positions
        @supports (height: stretch) {
            --safe-option: unsafe;
        }

        position-area: block-end;
        // Force vertical overflow to immidiatelly start probing position-try-fallbacks
        // in order to pick optimal position with the best visual coverage
        block-size: 150%;
        max-block-size: unset;
        margin: $margin;

        position-try:
            most-block-size --drop-auto-block,
            --drop-auto-inline,
            --drop-auto-block flip-inline,
            --drop-auto-inline flip-block,
            --drop-auto-block flip-block,
            --drop-auto-inline flip-inline,
            --drop-auto-block flip-block flip-inline,
            --drop-auto-inline flip-inline flip-block;
    }

    %reset {
        block-size: auto;
    }

    @each $placement in $placements {
        .drop-#{$placement} {
            @extend %reset;
        }
    }

    .drop-bottom,
    .drop-bottom-start,
    .drop-bottom-end,
    .drop-bottom-center {
        max-block-size: calc(100% - $margin - $offset);
        margin-block-start: $offset;
        position-try:
            flip-inline,
            flip-block,
            flip-inline flip-block;
    }

    .drop-bottom {
        position-area: block-end;
        justify-self: var(--safe-option) anchor-center;
        position-try:
            flip-block,
            --drop-bottom-start,
            --drop-bottom-end,
            --drop-bottom-start flip-block,
            --drop-bottom-end flip-block;
    }

    .drop-bottom-start {
        //inset: anchor(end) auto auto anchor(start);
        position-area: block-end span-inline-end;
        margin-inline-start: unset;
    }

    .drop-bottom-end {
        //inset: anchor(end) anchor(end) auto auto;
        position-area: block-end span-inline-start;
        margin-inline-end: unset;
    }

    .drop-bottom-center {
        position-area: block-end;
    }

    .drop-top,
    .drop-top-start,
    .drop-top-end,
    .drop-top-center {
        max-block-size: calc(100% - $margin - $offset);
        margin-block-end: $offset;
        position-try:
            flip-inline,
            flip-block,
            flip-inline flip-block;
    }

    .drop-top {
        position-area: block-start;
        justify-self: var(--safe-option) anchor-center;
        position-try:
            flip-block,
            --drop-top-start,
            --drop-top-end,
            --drop-top-start flip-block,
            --drop-top-end flip-block;
    }

    .drop-top-start {
        //inset: auto auto anchor(start) anchor(start);
        position-area: block-start span-inline-end;
        margin-inline-start: unset;
    }

    .drop-top-end {
        //inset: auto anchor(end) anchor(start) auto;
        position-area: block-start span-inline-start;
        margin-inline-end: unset;
    }

    .drop-top-center {
        position-area: block-start;
    }

    .drop-left,
    .drop-left-start,
    .drop-left-end,
    .drop-left-center {
        max-block-size: calc(100% - $margin);
        margin-inline-end: $offset;
        position-try:
            flip-block,
            flip-inline,
            flip-block flip-inline;
    }

    .drop-left {
        max-block-size: calc(100% - 2 * $margin);
        position-area: inline-start;
        align-self: var(--safe-option) anchor-center;
        position-try:
            most-block-size flip-inline,
            --drop-left-start,
            --drop-left-end,
            --drop-left-start flip-inline,
            --drop-left-end flip-inline;
    }

    .drop-left-start {
        //inset: anchor(start) anchor(start) auto auto;
        position-area: inline-start span-block-end;
        margin-block-start: unset;
    }

    .drop-left-end {
        //inset: auto anchor(start) anchor(end) auto;
        position-area: inline-start span-block-start;
        margin-block-end: unset;
    }

    .drop-left-center {
        max-block-size: calc(100% - 2 * $margin);
        position-area: inline-start;
    }

    .drop-right,
    .drop-right-start,
    .drop-right-end,
    .drop-right-center {
        max-block-size: calc(100% - $margin);
        margin-inline-start: $offset;
        position-try:
            flip-block,
            flip-inline,
            flip-block flip-inline;
    }

    .drop-right {
        max-block-size: calc(100% - 2 * $margin);
        position-area: inline-end;
        align-self: var(--safe-option) anchor-center;
        position-try:
            most-block-size flip-inline,
            --drop-right-start,
            --drop-right-end,
            --drop-right-start flip-inline,
            --drop-right-end flip-inline;
    }

    .drop-right-start {
        //inset: anchor(start) auto auto anchor(end);
        position-area: inline-end span-block-end;
        margin-block-start: unset;
    }

    .drop-right-end {
        //inset: auto auto anchor(end) anchor(end);
        position-area: inline-end span-block-start;
        margin-block-end: unset;
    }

    .drop-right-center {
        max-block-size: calc(100% - 2 * $margin);
        position-area: inline-end;
    }

    @position-try --drop-auto-block {
        position-area: block-end span-inline-end;
        block-size: auto;
        max-block-size: calc(100% - $margin - $offset);
        margin: $offset $margin $margin auto;
    }

    @position-try --drop-auto-inline {
        position-area: span-block-end inline-start;
        block-size: auto;
        max-block-size: calc(100% - $margin);
        margin: auto $offset $margin $margin;
    }

    @position-try --drop-right-start {
        max-block-size: calc(100% - $margin);
        position-area: inline-end span-block-end;
        align-self: unset;
        margin-block-start: unset;
    }

    @position-try --drop-right-end {
        max-block-size: calc(100% - $margin);
        position-area: inline-end span-block-start;
        align-self: unset;
        margin-block-end: unset;
    }

    @position-try --drop-left-start {
        max-block-size: calc(100% - $margin);
        position-area: inline-start span-block-end;
        align-self: unset;
        margin-block-start: unset;
    }

    @position-try --drop-left-end {
        max-block-size: calc(100% - $margin);
        position-area: inline-start span-block-start;
        align-self: unset;
        margin-block-end: unset;
    }

    @position-try --drop-top-start {
        position-area: block-start span-inline-end;
        justify-self: unset;
        margin-inline-start: unset;
    }

    @position-try --drop-top-end {
        position-area: block-start span-inline-start;
        justify-self: unset;
        margin-inline-end: unset;
    }

    @position-try --drop-bottom-start {
        position-area: block-end span-inline-end;
        justify-self: unset;
        margin-inline-start: unset;
    }

    @position-try --drop-bottom-end {
        position-area: block-end span-inline-start;
        justify-self: unset;
        margin-inline-end: unset;
    }
}

@mixin action-sheet {
    --#{$prefix}placement: fixed;
    --#{$prefix}action-sheet: 1;
    --#{$prefix}dropdown-bg: #{$surface-container-low-color};
    --#{$prefix}dropdown-border-width: 0;
    --#{$prefix}dropdown-box-shadow: var(--#{$prefix}shadow-l1);
    --#{$prefix}dropdown-divider-margin-x: #{$dropdown-item-padding-x};
    --#{$prefix}dropdown-min-width: unset;
    --#{$prefix}dropdown-max-width: 640px;

    position: fixed;
    inset: auto 0 0 0;
    inline-size: auto;
    block-size: auto;
    max-block-size: 50dvh;
    position-area: unset;
    position-try: unset;
    place-self: unset;
    padding-block-start: 0;
    margin: auto;
    border-radius: $corner-xl $corner-xl 0 0;
    border-block-start: 48px solid transparent;
    background: border-box var(--#{$prefix}dropdown-bg) center top 16px no-repeat var(--#{$prefix}drag-handle-icon);

    &.slide {
        --#{$prefix}dropdown-slide-translate: 0 100% 0;
        --#{$prefix}dropdown-transition: translate var(--#{$animation-prefix}ease-out-circ), display allow-discrete, overlay allow-discrete;
        translate: var(--#{$prefix}dropdown-slide-translate);

        &[popover]:popover-open {
            translate: none;

            @starting-style {
                translate: var(--#{$prefix}dropdown-slide-translate);
            }
        }
    }

    &.slide.fade {
        --#{$prefix}dropdown-transition: translate var(--#{$animation-prefix}ease-out-circ), opacity linear, display allow-discrete, overlay allow-discrete;
    }

    &[popover] {
        &::backdrop {
            opacity: 0;
            background-color: var(--#{$prefix}backdrop-bg-color);
            @include transition(opacity linear, display allow-discrete, overlay allow-discrete);
            transition-duration: var(--#{$prefix}backdrop-transition-duration);
        }

        &:popover-open {
            &::backdrop {
                opacity: 1;

                @starting-style {
                    opacity: 0;
                }
            }
        }
    }
}

$action-sheet-breakpoints: sm;

@each $breakpoint in $action-sheet-breakpoints {
    @if $breakpoint ==null {
        .action-sheet {
            @include action-sheet;
        }
    } @else {
        $width: map-get($grid-breakpoints, $breakpoint);

        @media (width < #{$width}) {
            .action-sheet-#{$breakpoint} {
                @include action-sheet;
            }
        }
    }
}