$input-color: $on-surface-color;
$input-bg: transparent;
$input-disabled-bg: transparent;
$input-disabled-color: rgb(var(--#{$prefix}on-surface-rgb), .38);
$input-disabled-border-color: rgb(var(--#{$prefix}on-surface-rgb), .12);
$input-border-color: $outline-color;
$input-border-radius: $corner-xs;
$input-plaintext-color: $on-surface-color;
$input-placeholder-color: $surface-inverse-color;
$input-focus-color: $input-color;
$input-focus-bg: $input-bg;
$input-padding-x: 16px;
$input-padding-y: 8px;
$form-text-color: $on-surface-variant-color;
$form-select-color: $on-surface-color;
$form-select-bg: $surface-color;
$form-select-disabled-bg: $surface-container-high-color;
$form-check-input-color: $on-surface-color;
$form-check-input-bg: $surface-color;
$form-check-input-width: 18px;
$form-check-input-height: 18px;
$form-switch-width: 52px;
$form-switch-height: 32px;
$form-file-button-color: $on-surface-color;
$form-file-button-bg: $surface-container-low-color;
$form-file-button-hover-bg: $surface-container-high-color;
$input-group-addon-color: $on-surface-color;
$input-group-addon-bg: $surface-container-low-color;
$form-range-thumb-disabled-bg: $surface-inverse-color;
$form-range-track-bg: $surface-container-high-color;
$input-focus-width: 2px;
$input-focus-box-shadow: 0 0 0 2px $focus-ring-color;

//@import "bootstrap/scss/forms/labels";
@import "bootstrap/scss/forms/form-text";
@import "bootstrap/scss/forms/form-control";
//@import "bootstrap/scss/forms/form-select";
//@import "bootstrap/scss/forms/form-check";
//@import "bootstrap/scss/forms/form-range";
//@import "bootstrap/scss/forms/floating-labels";
//@import "bootstrap/scss/forms/input-group";
//@import "bootstrap/scss/forms/validation";

input {
    accent-color: $primary-color;
}

.form-control {
    display: block;
    min-height: 56px;
    padding: $input-padding-y $input-padding-x;
    font-family: $input-font-family;
    @include font-size($input-font-size);
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color;
    background: var(--#{$prefix}input-icon-image, none),
    var(--#{$prefix}input-state-image, none) $input-bg;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    caret-color: $primary-color;

    &:focus {
        --#{$prefix}focus-ring-color: #{$secondary-color};
        border-color: #{$primary-color};
        outline: 0;
        box-shadow: 0 0 0 2px var(--#{$prefix}focus-ring-color);
    }

    &:hover {
        border-color: #{$on-surface-color};
    }

    &:disabled {
        color: $input-disabled-color;
        background-color: $input-disabled-bg;
        border-color: $input-disabled-border-color;
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;
    }

    &[type="file"] {
        overflow: hidden;

        &:not(:disabled):not([readonly]) {
            cursor: pointer;
        }

        &::file-selector-button {
            display: none;
        }
    }

    &.form-control-fill {
        --#{$prefix}indicator-color: #{$on-surface-variant-color};
        --#{$prefix}indicator-width: 1px;
        border: none;
        border-radius: $input-border-radius $input-border-radius 0 0;
        box-shadow: 0 var(--#{$prefix}indicator-width) 0 0 var(--#{$prefix}indicator-color);
        background-color: $surface-container-highest-color;

        &:hover {
            --#{$prefix}indicator-color: #{$on-surface-color};
            --#{$prefix}input-state-image: var(--#{$prefix}hover-layer-cc);
        }

        &:focus {
            --#{$prefix}indicator-color: #{$primary-color};
            --#{$prefix}indicator-width: 3px;
            --#{$prefix}input-state-image: var(--#{$prefix}focus-layer-cc);
        }

        &:disabled {
            --#{$prefix}indicator-color: #{$input-disabled-color};
            background-color: rgb(var(--#{$prefix}on-surface-rgb), .04);
        }
    }
}

%form-check {
    display: grid;
    grid: auto / auto-flow;
    justify-content: start;
    align-items: center;
    min-height: 24px;
    gap: 16px;
}

.form-check {
    @extend %form-check;
}

.form-check-reverse {
    @extend %form-check;

    :first-child{
        order: 1;
    }
}

input[type="checkbox"] {
    inline-size: #{$form-check-input-width};
    block-size: #{$form-check-input-height};
    cursor: pointer;

    &.form-check-input {
        --#{$prefix}form-check-color: #{$on-surface-color};
        --#{$prefix}form-check-border-color: #{$on-surface-variant-color};
        appearance: none;
        flex: 0 0 auto;
        border-radius: 2px;
        box-shadow: 0 0 0 2px var(--#{$prefix}form-check-border-color) inset;
        color: var(--#{$prefix}form-check-color);

        &::after {
            content: '';
            display: none;
            width: 40px;
            height: 40px;
            margin-left: calc(50% - 20px);
            margin-top: calc(50% - 20px);
            border-radius: 100%;
        }

        &:hover {
            --#{$prefix}form-check-border-color: #{$on-surface-color};

            &::after {
                display: block;
                background-image: var(--#{$prefix}hover-layer-cc);
            }
        }

        &:is(:focus-visible, :active) {
            --#{$prefix}form-check-border-color: #{$on-surface-color};

            &::after {
                display: block;
                background-image: var(--#{$prefix}focus-layer-cc);
            }
        }

        &:is(:disabled, .disabled) {
            --#{$prefix}form-check-border-color: #{$input-disabled-color};
            pointer-events: none;

            &::after {
                background-image: none;
            }

            & ~ .form-check-label {
                opacity: .38;
            }
        }

        &:checked {
            --#{$prefix}form-check-color: #{$primary-color};
            background: var(--#{$prefix}form-check-color) padding-box no-repeat var(--#{$prefix}form-check-bg-image) center;
            box-shadow: none;

            &:disabled {
                --#{$prefix}form-check-color: #{$input-disabled-color};
            }
        }

        &.form-check-input-error:not(:disabled) {
            --#{$prefix}form-check-color: #{$error-color};
            --#{$prefix}form-check-border-color: #{$error-color};
        }
    }
}

.form-switch input[type="checkbox"].form-check-input {
    --#{$prefix}form-check-color: #{$on-surface-color};
    --#{$prefix}form-check-bg: #{$surface-container-highest-color};
    --#{$prefix}form-check-border-color: #{$outline-color};
    --#{$prefix}form-switch-handle-size: 16px;
    --#{$prefix}form-switch-handle-color: #{$outline-color};

    position: relative;
    inline-size: $form-switch-width;
    block-size: $form-switch-height;
    border-radius: calc($form-switch-height / 2);
    color: var(--#{$prefix}form-check-color);
    background-color: var(--#{$prefix}form-check-bg);

    &::before {
        content: '';
        display: block;
        inline-size: var(--#{$prefix}form-switch-handle-size);
        block-size: var(--#{$prefix}form-switch-handle-size);
        background-color: var(--#{$prefix}form-switch-handle-color);
        border-radius: var(--#{$prefix}form-switch-handle-size);
        margin: calc(($form-switch-height - var(--#{$prefix}form-switch-handle-size)) / 2) 0 0 calc(($form-switch-height - var(--#{$prefix}form-switch-handle-size)) / 2);
    }

    &::after {
        position: absolute;
        top: 0;
        margin: calc($form-switch-height/2 - 20px) 0 0 calc($form-switch-height / 2 - 20px);
    }

    &:checked {
        --#{$prefix}form-check-color: #{$primary-color};
        --#{$prefix}form-check-bg: #{$primary-color};
        --#{$prefix}form-switch-handle-size: 24px;
        --#{$prefix}form-switch-handle-color: #{$on-primary-color};
        background-image: none;

        &::before {
            margin: calc(($form-switch-height - var(--#{$prefix}form-switch-handle-size)) / 2) 0 0 calc($form-switch-width - ($form-switch-height + var(--#{$prefix}form-switch-handle-size)) / 2);
            background-image: var(--#{$prefix}form-switch-bg-image);
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
        }

        &::after {
            margin: calc($form-switch-height/2 - 20px) 0 0 calc($form-switch-width - $form-switch-height / 2 - 20px);
        }
    }

    &:is(:hover, :active, :focus-visible) {
        --#{$prefix}form-switch-handle-color: #{$on-surface-variant-color};

        &:checked {
            --#{$prefix}form-switch-handle-color: #{$primary-container-color};
        }
    }

    &:disabled {
        --#{$prefix}form-check-bg: rgb(var(--#{$prefix}surface-cntr-rgb), .12);
        --#{$prefix}form-check-border-color: #{$input-disabled-border-color};
        --#{$prefix}form-switch-handle-color: #{$input-disabled-color};

        &:checked {
            --#{$prefix}form-check-bg: #{$input-disabled-border-color};
            --#{$prefix}form-switch-handle-color: #{$surface-color};

            &::before {
                background-image: var(--#{$prefix}form-switch-disabled-bg-image);
            }
        }
    }
}

.form-floating {
    display: grid;

    & > .form-control {
        grid-area: 1/1;
        line-height: $form-floating-line-height;

        &.form-control-fill {
            padding-block: 28px 8px;
        }

        &::placeholder {
            color: transparent;
        }

        &:where(:focus, :not(:placeholder-shown)) {
            & ~ label {
                place-self: start stretch;
                margin: -.5lh calc($input-padding-x - 4px) 0 calc($input-padding-x - 4px);
                padding-inline: 4px;
                font-size: smaller;
                background-color: $surface-color;
            }

            &:where(.form-control-fill) ~ label {
                margin: 8px $input-padding-x 0 $input-padding-x;
                padding: 0;
                background-color: transparent;
            }
        }

        &:hover ~ label {
            color: $on-surface-color;
        }

        &:focus ~ label {
            color: $primary-color;
        }

        &:disabled ~ label {
            color: $input-disabled-color;
        }
    }

    & > label {
        grid-area: 1/1;
        place-self: center stretch;
        margin: 0 $input-padding-x;
        max-width: fit-content;
        color: $on-surface-variant-color;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        pointer-events: none;
    }
}

.valid-feedback,
.invalid-feedback {
    display: none;
    font-size: small;
    font-weight: 400;
    padding-inline: $input-padding-x;
}

.valid-feedback {
    color: $on-surface-variant-color;
}

.invalid-feedback {
    color: $error-color;
}

.was-validated {
    .form-control {
        & ~ label {
            margin-inline-end: calc($input-padding-x + 24px + 12px);
        }

        &:valid {
            --#{$prefix}input-icon-image: no-repeat padding-box var(--#{$prefix}form-valid-icon) center right 12px / 24px;

            & ~ .valid-feedback {
                display: block;
            }
        }

        &:invalid {
            --#{$prefix}indicator-color: #{$error-color};
            --#{$prefix}input-icon-image: no-repeat padding-box var(--#{$prefix}form-invalid-icon) center right 12px / 24px;
            border-color: #{$error-color};
            caret-color: $error-color;

            &:focus {
                --#{$prefix}focus-ring-color:#{$error-color};
                border-color: #{$error-color};
            }

            & ~ label {
                color: $error-color;
            }

            & ~ .invalid-feedback {
                display: block;
            }
        }
    }
}