$icon-sizes: (2, 3, 4, 5, lg 1.33333) !default;

$boost: 1.25;

.icon {
    display: inline-block;
    width: calc($boost*1em);
    aspect-ratio: 1;
    object-fit: contain;
}

svg.icon {
    vertical-align: -0.125em;
    fill: currentColor;
}

@each $name, $scale in $icon-sizes {
    .icon-#{$name}#{if($scale == null, x, null)} {
        @include font-scale(if($scale, $scale, $name));
    }
}