.icon {
    font-size: inherit;
    width: 1em;
    aspect-ratio: 1;
    object-fit: contain;
}

svg.icon {
    vertical-align: -0.125em;
    fill: currentColor;
}

@for $scale from 2 through 5 {
    .icon-#{$scale}x {
        @include font-scale($scale);
    }
}

.icon-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -0.0667em;
}

.upnp-dev-icon {
    width: 3rem;
    aspect-ratio: 1;
    object-fit: contain;
}