$icon-sizes: (
    null 1.5rem,
    2x 2rem,
    3x 3rem,
    5x 5rem,
    8x 8rem) !default;
$missing-image-content: "\1F61F" !default;
$missing-image-bg: url('/stack.svg#mood_bad') !default;

// Style all <svg> elements as 1:1 icons, 1em size, by default
svg,
img {
    height: 1em;
    aspect-ratio: 1;
    object-fit: contain;
    fill: currentColor;
    flex: 0 0 auto;
}

a > :is(svg, img) {
    font-size: 1.5rem;
    vertical-align: bottom;
}

%image-fallback {
    position: relative;

    // This is rendered in case of image download error
    &:after {
        content: $missing-image-content;

        @if($missing-image-content !="") {
            display: grid;
            place-content: center;
        }

        position: absolute;
        inset: 0;
        background-blend-mode: overlay;
        background: no-repeat center / 75% $missing-image-bg var(--#{$prefix}error-cntr, #{$error-container});
        border-radius: inherit;
    }
}

.album-art {
    border-radius: inherit;
    font-size: 2.5rem;
}

.album-art,
.fallback {
    @extend %image-fallback;
    flex-shrink: 0;
}

@each $name, $size in $icon-sizes {
    .icon#{infix($name)} {
        font-size: $size;
    }
}