/********** Grid Layout utilities **********/

$utilities: map-merge($utilities, ("col-span": (class: "col", property: "grid-column", values: (2: span 2))));
$grid-responsive-auto-breakpoints: null sm;

@mixin grid-auto-columns($min: 10rem, $max: 30rem, $mode: auto-fit) {
    grid: auto / repeat($mode, minmax(unquote("min(#{$min}, 100%)"), $max));
}

@mixin grid-scroll-snap($type: y proximity, $align: start, $padding: null) {
    scroll-snap-type: $type;

    @if($padding) {
        scroll-padding: $padding;
    }

    > * {
        scroll-snap-align: $align;
    }
}

@mixin grid-responsive-auto($size: 34rem) {
    --#{$prefix}border-radius-override: #{$border-radius-sm};
    --#{$prefix}border-width-override: #{$border-width};
    --#{$prefix}box-shadow-override: #{$box-shadow-sm};
    @include grid-auto-columns($max: $size);
    justify-content: space-evenly;
    align-content: start;
    align-items: start;
    padding: map-get($spacers, 3);
    overflow-y: auto;
    height: 100%;
    @include grid-scroll-snap($padding: map-get($spacers, 3) auto);

    > * {
        touch-action: pan-y;
    }
}

.d-grid {
    grid-gap: map-get($spacers, 3);
}

.grid-auto-1fr {
    grid-template-columns: auto 1fr;
}

.grid-1fr-auto {
    grid-template-columns: 1fr auto;
}

.grid-carousel {
    --#{$prefix}border-radius-override: 0;
    --#{$prefix}border-width-override: 0;
    --#{$prefix}box-shadow-override: none;
    grid: minmax(0, 1fr) / auto-flow 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    @include grid-scroll-snap($type: x mandatory);

    > :only-child {
        touch-action: pan-y;
    }
}

@each $name, $value in $grid-responsive-auto-breakpoints {
    $value: if($value, $value, $name);

    @if($name) {
        $breakpoint: map-get($grid-breakpoints, $value);

        .grid-responsive-auto-#{$name} {
            @media (min-width:$breakpoint) and (min-height: $breakpoint) {
                @include grid-responsive-auto();
            }
        }
    }

    @else {
        .grid-responsive-auto {
            @include grid-responsive-auto();
        }
    }
}

.grid-auto-m15 {
    @include grid-auto-columns($min: 15rem, $max: 1fr, $mode: auto-fill);
}