$table-striped-order: even;

.table {
    --#{$prefix}table-color: #{$table-color};
    --#{$prefix}table-bg: #{$table-bg};
    --#{$prefix}table-caption-color: #{$table-caption-color};
    --#{$prefix}table-header-bg: #{$light};
    --#{$prefix}table-active-color: #{$table-active-color};
    --#{$prefix}table-active-bg: #{$table-active-bg};
    --#{$prefix}table-selected-bg: #{$primary};
    --#{$prefix}table-focused-accent: #{$primary-700};
    --#{$prefix}table-selected-color: white;
    --#{$prefix}table-cell-padding-x: #{$table-cell-padding-x};
    --#{$prefix}table-cell-padding-y: #{$table-cell-padding-y};
    --#{$prefix}table-padding-x: #{2 * $table-cell-padding-x};
    --#{$prefix}table-border-width: #{$table-border-width};
    --#{$prefix}table-border-color: #{$table-border-color};

    display: table;
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    background-color: var(--#{$prefix}table-bg);
    color: var(--#{$prefix}table-color);

    > * {
        display: table-row-group;
    }

    /* Table row */
    > :not(.table-caption) {
        > * {
            display: table-row;

            > * {
                display: table-cell;
                vertical-align: middle;
                white-space: nowrap;
                padding: var(--#{$prefix}table-cell-padding-y) var(--#{$prefix}table-cell-padding-x);
                border-top: var(--#{$prefix}table-border-width) solid var(--#{$prefix}table-border-color);

                &.mw-1 {
                    max-width: 1px;
                }

                &:is(:first-child) {
                    padding-left: var(--#{$prefix}table-padding-x);
                }

                &:is(:last-child) {
                    padding-right: var(--#{$prefix}table-padding-x);
                }
            }

            &:first-child > * {
                border-top: 0;
            }

            &:is([data-active="true"], .active) {
                background-color: var(--#{$prefix}table-active-bg);
                color: var(--#{$prefix}table-active-color);
            }

            &:is([data-selected="true"], .selected, [data-focused="true"], :focus) {
                --#{$prefix}accent-color: var(--#{$prefix}table-focused-accent);
                background-color: var(--#{$prefix}table-selected-bg);
                color: var(--#{$prefix}table-selected-color);
            }
        }
    }

    /* Table caption */
    > .table-caption {
        display: table-caption;
        color: var(--#{$prefix}table-caption-color);
        padding: var(--#{$prefix}table-cell-padding-y) var(--#{$prefix}table-cell-padding-x);
    }

    /* Table header */
    > .table-header {
        display: table-header-group;
        background-color: var(--#{$prefix}table-header-bg);
        font-weight: $headings-font-weight;

        > * > * {
            border-bottom: var(--#{$prefix}table-border-width) solid var(--#{$prefix}table-border-color);
        }
    }

    > .table-footer {
        display: table-footer-group;
    }
}

.table-compact {
    --#{$prefix}table-cell-padding-x: #{$table-cell-padding-x-sm};
    --#{$prefix}table-cell-padding-y: #{$table-cell-padding-y-sm};
    --#{$prefix}table-padding-x: #{2 * $table-cell-padding-x-sm};
}

.table-striped {
    --#{$prefix}table-striped-color: #{$table-striped-color};
    --#{$prefix}table-striped-bg: #{$table-striped-bg};

    > .table-body {
        > :nth-of-type(#{$table-striped-order}) {
            background-color: var(--#{$prefix}table-striped-bg);
            color: var(--#{$prefix}table-striped-color);
        }
    }
}

.table-focus-marker {
    --#{$prefix}table-focused-marker-size: #{map-get($spacers, 1)};

    > :not(.table-caption) > * > :first-child {
        padding-inline-start: unquote("calc(var(--#{$prefix}table-padding-x) + var(--#{$prefix}table-focused-marker-size))");
    }

    > .table-body {
        > :is([data-focused="true"], :focus) {
            outline: 0;

            > :first-child {
                box-shadow: inset var(--#{$prefix}table-focused-marker-size) 0 0 var(--#{$prefix}accent-color);
            }
        }
    }
}

.table-hover {
    --#{$prefix}table-hover-color: #{$table-hover-color};
    --#{$prefix}table-hover-bg: #{$table-hover-bg};

    > .table-body {
        > :where(:hover) {
            background-image: linear-gradient(var(--#{$prefix}table-hover-bg), var(--#{$prefix}table-hover-bg));
            color: var(--#{$prefix}table-hover-color);
        }
    }
}

.table-material {
    > .table-header {
        --#{$prefix}table-header-bg: var(--#{$prefix}table-bg);
    }

    > * > * > * {
        padding-inline: var(--#{$prefix}table-cell-padding-x);
    }

    @extend .table-compact;
    @extend .table-hover;
    @extend .table-focus-marker;
}