$table-striped-order: even;
$table-color: $on-surface-color;
$table-bg: $surface-color;
$table-border-color: $surface-variant-color;
$table-caption-color: $surface-inverse-color;
$table-active-color: $on-primary-color;
$table-active-bg: $primary-color;
$table-striped-color: $table-color;
$table-striped-bg: rgba(var(--#{$prefix}on-secondary-cntr-rgb), $table-striped-bg-factor);

.table {
    --#{$prefix}table-color: #{$table-color};
    --#{$prefix}table-bg: #{$table-bg};
    --#{$prefix}table-caption-color: #{$table-caption-color};
    --#{$prefix}table-header-bg: #{$table-bg};
    --#{$prefix}table-active-color: #{$table-active-color};
    --#{$prefix}table-active-bg: #{$table-active-bg};
    --#{$prefix}table-selected-bg: var(--#{$prefix}primary-cntr);
    --#{$prefix}table-selected-color: var(--#{$prefix}on-primary-cntr);
    --#{$prefix}table-cell-padding-x: #{$table-cell-padding-x};
    --#{$prefix}table-cell-padding-y: #{$table-cell-padding-y};
    --#{$prefix}table-padding-x: #{2 * $table-cell-padding-x};
    --#{$prefix}table-border-width: #{$table-border-width};
    --#{$prefix}table-border-color: #{$table-border-color};

    display: table;
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    background-color: var(--#{$prefix}table-bg);
    color: var(--#{$prefix}table-color);

    > * {
        display: table-row-group;
    }

    /* Table row */
    > :not(.table-caption) {
        > * {
            display: table-row;

            > * {
                display: table-cell;
                vertical-align: middle;
                white-space: nowrap;
                padding: var(--#{$prefix}table-cell-padding-y) var(--#{$prefix}table-cell-padding-x);
                border-top: var(--#{$prefix}table-border-width) solid var(--#{$prefix}table-border-color);

                &.mw-1 {
                    max-width: 1px;
                }

                &:is(:first-child) {
                    padding-left: var(--#{$prefix}table-padding-x);
                }

                &:is(:last-child) {
                    padding-right: var(--#{$prefix}table-padding-x);
                }
            }

            &:first-child > * {
                border-top: 0;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }

            &:is([data-selected="true"], .selected) {
                color: var(--#{$prefix}table-selected-color);
                background-color: var(--#{$prefix}table-selected-bg);
            }

            &:is([data-active="true"], .active) {
                color: var(--#{$prefix}table-active-color);
                background-color: var(--#{$prefix}table-active-bg);
            }
        }
    }

    /* Table caption */
    > .table-caption {
        display: table-caption;
        color: var(--#{$prefix}table-caption-color);
        padding: var(--#{$prefix}table-cell-padding-y) var(--#{$prefix}table-cell-padding-x);
    }

    /* Table header */
    > .table-header {
        display: table-header-group;
        background-color: var(--#{$prefix}table-header-bg);
        font-weight: $headings-font-weight;

        > * > * {
            border-bottom: var(--#{$prefix}table-border-width) solid var(--#{$prefix}table-border-color);
        }
    }

    > .table-footer {
        display: table-footer-group;
    }

    .btn {
        color: currentColor;
    }
}

.table-compact {
    --#{$prefix}table-cell-padding-x: #{$table-cell-padding-x-sm};
    --#{$prefix}table-cell-padding-y: #{$table-cell-padding-y-sm};
    --#{$prefix}table-padding-x: #{2 * $table-cell-padding-x-sm};
}

.table-striped {
    --#{$prefix}table-striped-color: #{$table-striped-color};
    --#{$prefix}table-striped-bg: #{$table-striped-bg};

    > .table-body {
        > :nth-of-type(#{$table-striped-order}) {
            background-color: var(--#{$prefix}table-striped-bg);
            color: var(--#{$prefix}table-striped-color);
        }
    }
}

.table-action {
    > .table-body {
        > :hover {
            background-image: var(--#{$prefix}hover-layer-cc);
        }

        > :is(:active, :focus) {
            background-image: var(--#{$prefix}focus-layer-cc);
        }
    }
}

.table-focus-marker {
    --#{$prefix}table-focus-marker-width: #{map-get($spacers, 1)};
    --#{$prefix}table-focus-marker-color: #{$secondary-color};

    > :not(.table-caption) > * > :first-child {
        padding-inline-start: calc(var(--#{$prefix}table-padding-x) + var(--#{$prefix}table-focus-marker-width));
    }

    > .table-body > :focus > :first-child {
        box-shadow: inset var(--#{$prefix}table-focus-marker-width) 0 0 var(--#{$prefix}table-focus-marker-color);
    }
}

.table-material {
    > .table-header {
        --#{$prefix}table-header-bg: var(--#{$prefix}table-bg);
    }

    > * > * > * {
        padding-inline: var(--#{$prefix}table-cell-padding-x);
    }

    @extend .table-compact;
    @extend .table-action;
    @extend .table-focus-marker;
}