@function infix($name) {
    @return if(($name == null) or ($name == ""), "", "-#{$name}");
}

@function build-media-query($conditions, $operator: and) {
    $condition: "";
    $i: 1;

    @each $feature, $value in $conditions {
        $condition: $condition + #{if($i != 1, $operator, "")}(#{$feature}#{if($value, ': #{$value}', '')});
        $i: $i + 1;
    }

    @return $condition;
}

@function clone($value, $count: 1) {
    $list: [];

    @for $i from 1 through $count {
        $list: append($list, $value);
    }

    @return $list;
}

@mixin responsive-class($class, $breakpoint, $conditions: min-width) {
    @if($breakpoint) {
        $value: map-get($grid-breakpoints, $breakpoint);

        .#{$class}-#{$breakpoint} {
            @media #{build-media-query(zip($conditions, clone($value, length($conditions))))} {
                @content();
            }
        }
    }

    @else {
        .#{$class} {
            @content();
        }
    }
}

@mixin unify-parent($child) {
    @at-root #{selector-unify(&, $child)} {
        @content;
    }
}

@mixin font-scale($scale) {
    font-size: $scale * 1rem !important;
}

@mixin overlay {
    position: absolute;
    z-index: $zindex-modal;
    inset: 0;
}

$missing-image-content:     "\1F61F" !default;
$missing-image-bg:          url(../../public/stack.svg#mood_bad) !default;
$icon-scale:                1 !default;

%image-icon {
    position: relative;
    width: 1em;
    aspect-ratio: 1;
    min-height: 0;
    object-fit: contain;
    font-size: calc($icon-scale * 1em);
    line-height: initial;
    fill: currentColor;
}

%image-fallback {
    position: relative;
    // This is rendered in case of image download error
    &:after {
        content: $missing-image-content;

        @if($missing-image-content != "") {
            display: grid;
            place-content: center;
            font-size: smaller;
        }

        position: absolute;
        inset: 0;
        background: no-repeat center / 80% $missing-image-bg $orange-100;
        outline: 1px dashed $orange;
        outline-offset: -1px;
        border-radius: inherit;
    }
}

%no-decoration {
    border: none;
    outline: none;
    box-shadow: none;
}