@function infix($name) {
    @return if(($name == null) or ($name == ""), "", "-#{$name}");
}

@function build-media-query($conditions, $operator: and) {
    $condition: "";
    $i: 1;

    @each $feature, $value in $conditions {
        $condition: $condition + #{if($i != 1, $operator, "")}(#{$feature}#{if($value, ': #{$value}', '')});
        $i: $i + 1;
    }

    @return $condition;
}

@function clone($value, $count: 1) {
    $list: [];

    @for $i from 1 through $count {
        $list: append($list, $value);
    }

    @return $list;
}

@mixin responsive-class($class, $breakpoint, $conditions: min-width) {
    @if($breakpoint) {
        $value: map-get($grid-breakpoints, $breakpoint);

        .#{$class}-#{$breakpoint} {
            @media #{build-media-query(zip($conditions, clone($value, length($conditions))))} {
                @content();
            }
        }
    }

    @else {
        .#{$class} {
            @content();
        }
    }
}

@mixin unify-parent($child) {
    @at-root #{selector-unify(&, $child)} {
        @content;
    }
}

@mixin font-scale($scale) {
    font-size: $scale * 1rem;
}

$missing-image-content: "\1F61F" !default;

@mixin image-box {
    position: relative;
    text-align: center;
    vertical-align: middle !important;
    object-fit: contain;

    // This renders in case of image download error
    &:after {
        content: $missing-image-content;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $orange;
        justify-content: center;
        align-items: center;
        outline: 1px dashed $orange;
        outline-offset: -1px;
        background-color: $orange-100;
    }
}

@mixin image-box-sized($width, $height) {
    width: $width;
    min-width: $width;
    height: $height;
    min-height: $height;
    line-height: $height;
}

@mixin overlay {
    position: absolute;
    z-index: $zindex-modal;
    inset: 0;
}

%no-decoration {
    border: none;
    outline: none;
    box-shadow: none;
}

@mixin bg-translucent($color: #000000, $alpha: 0.25) {
    background-color: rgba($color, $alpha);
}