.player-skeleton {
    display: grid;
    height: 100%;
    place-items: center;
    gap: map-get($spacers, 1);
    grid: "art art art art art" 1fr "title title title title title" auto "prog prog prog prog prog" auto "mode prev play next vol" auto / 1fr auto auto auto 1fr;

    .art {
        grid-area: art;
        width: initial;
        height: initial;
        max-width: calc(100% - 2 * map-get($spacers, 3));
        max-height: calc(100% - 2 * map-get($spacers, 3));

        @media (max-height: 320px) {
            display: none;
        }

        @include unify-parent(svg) {
            color: $primary-200;
            @include gradient-bg($primary-700);
        }
    }

    .pl-progress {
        grid-area: prog;
        justify-self: stretch;
        margin: map-get($spacers, 1) map-get($spacers, 2);
    }

    .pl-title {
        grid-area: title;
        justify-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: map-get($spacers, 2);
        overflow: hidden;

        & > * {
            max-width: 100%;
        }
    }

    .pl-prev-btn {
        grid-area: prev;
    }

    .pl-next-btn {
        grid-area: next;
    }

    .pl-main-btn {
        grid-area: play;
        font-size: 2.5rem;
    }

    .pl-volume-btn {
        grid-area: vol;
    }

    .pl-mode-btn {
        grid-area: mode;
    }

    @media (max-height: 420px) {
        grid: "art art art art art art" 1fr "prog prog prog prog prog prog" auto "prev play next title mode vol" auto / auto auto auto minmax(0, 1fr) auto auto;

        .art {
            max-width: 100%;
            max-height: 100%;
        }

        .pl-main-btn {
            font-size: 2rem;
        }
    }

    @media (min-width: 576px) and (min-height: 576px) {
        grid: "prog prog prog prog prog prog prog prog prog" auto "prev play next . art title . mode vol" auto / auto auto auto 1fr auto minmax(0, auto) 1fr auto auto;

        .art {
            max-width: 1em;
            max-height: 1em;
            font-size: 4rem;
        }

        .pl-title {
            align-items: start;
        }

        .pl-main-btn {
            font-size: 2rem;
        }
    }
}