@keyframes indicator-run {
    100% {
        scale: 1;
    }
}

@keyframes thumb-run {
    100% {
        translate: 100cqi 0 0;
    }
}

.slider {
    --#{$prefix}slider-track-color: #{$secondary-container-color};
    --#{$prefix}slider-track-thickness: 4px;
    --#{$prefix}slider-indicator-color: #{$primary-color};
    --#{$prefix}slider-thumb-size: 16px;
    --#{$prefix}slider-update-pending: ; //OFF
    --#{$prefix}slider-animation-running: ; //OFF

    display: grid;
    grid-auto-flow: row;
    align-items: center;
    color: var(--#{$prefix}slider-indicator-color);
    container-type: inline-size;
    touch-action: none;
    user-select: none;

    & > .slider-track {
        grid-area: 1 / 1;
        height: var(--#{$prefix}slider-track-thickness);
        border-radius: var(--#{$prefix}slider-track-thickness);
        overflow: clip;
        background-color: var(--#{$prefix}slider-track-color);

        &::before {
            content: '';
            height: 100%;
            display: block;
            background-color: currentColor;
            transform-origin: left center;
            scale: var(--#{$prefix}slider-value) 1 1;
            animation-name: var(--#{$prefix}slider-update-pending) var(--#{$prefix}slider-animation-running, indicator-run);
            animation-timing-function: linear;
            animation-duration: var(--#{$prefix}slider-animation-duration);
            animation-fill-mode: forwards;
        }
    }

    & > .slider-thumb {
        width: var(--#{$prefix}slider-thumb-size);
        height: var(--#{$prefix}slider-thumb-size);
        margin-inline-start: calc(var(--#{$prefix}slider-thumb-size) / -2);
        grid-area: 1 / 1;
        border-radius: var(--#{$prefix}slider-thumb-size);
        background-color: currentColor;
        translate: calc(var(--#{$prefix}slider-value) * 100cqi) 0 0;
        animation-name: var(--#{$prefix}slider-update-pending) var(--#{$prefix}slider-animation-running, thumb-run);
        animation-timing-function: linear;
        animation-duration: var(--#{$prefix}slider-animation-duration);
        animation-fill-mode: forwards;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            opacity: 0;
            box-shadow: 0 0 0 8px currentColor;
            @include transition(opacity var(--#{$animation-prefix}duration-1) linear);
        }

        &:hover::before {
            opacity: .1;
        }

        &:active::before {
            box-shadow: 0 0 0 12px currentColor;
            opacity: .12;
        }
    }

    &:focus-visible {
        outline: none;
        box-shadow: none;

        & > .slider-thumb::before {
            box-shadow: 0 0 0 12px currentColor;
            opacity: .12;
        }
    }
}