/*********** Spoiler component general styles **********/
$spoiler-border-radius: var(--#{$prefix}border-radius) !default;
$spoiler-border-width: var(--#{$prefix}border-width) !default;
$spoiler-color: var(--#{$prefix}body-color) !default;
$spoiler-border-color: var(--#{$prefix}border-color-translucent) !default;
$spoiler-padding-x: $input-btn-padding-x !default;
$spoiler-padding-y: $input-btn-padding-y !default;

.spoiler {
    --#{$prefix}spoiler-border-radius: #{$spoiler-border-radius};
    --#{$prefix}spoiler-border-width: #{$spoiler-border-width};
    --#{$prefix}spoiler-border-color: #{$spoiler-border-color};
    --#{$prefix}spoiler-padding-x: #{$spoiler-padding-x};
    --#{$prefix}spoiler-padding-y: #{$spoiler-padding-y};
    --#{$prefix}spoiler-animation-duration: var(--#{$animation-prefix}duration-1);

    overflow: hidden;
    @include border-radius(var(--#{$prefix}spoiler-border-radius));
    border: var(--#{$prefix}spoiler-border-width) solid var(--#{$prefix}spoiler-border-color);

    & > summary {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        gap: var(--#{$prefix}spoiler-padding-x);
        padding: var(--#{$prefix}spoiler-padding-y) var(--#{$prefix}spoiler-padding-x);

        &::-webkit-details-marker {
            display: none;
        }

        & > * {
            flex: 1;
            overflow: hidden;
        }

        & + * {
            display: grid;
            grid-template-rows: 0fr;
            @include transition(grid-template-rows var(--#{$prefix}spoiler-animation-duration) ease-in);

            & > * {
                overflow: hidden;
            }
        }

        &:has(input[type="checkbox"]:checked) {
            & + * {
                grid-template-rows: 1fr;
                transition-timing-function: ease-out;
            }

            &::before {
                rotate: -180deg;
            }
        }

        & > input[type="checkbox"] {
            position: absolute;
            display: block;
            inset: 0;
            width: unset;
            height: unset;
            appearance: none;
        }

        &::before {
            display: inline-block;
            width: 24px;
            height: 24px;
            order: 1;
            pointer-events: none;
            content: var(--#{$prefix}expand-button-icon);
            @include transition(rotate var(--#{$prefix}spoiler-animation-duration) ease);
        }
    }

    &[inert] > summary {
        opacity: #{$btn-disabled-opacity};
    }
}