/*********** Spoiler component general styles **********/
$spoiler-border-radius: $corner-sm;
$spoiler-border-width: var(--#{$prefix}border-width);
$spoiler-color: var(--#{$prefix}body-color);
$spoiler-border-color: transparent;
$spoiler-padding-x: map-get($spacers, 3);
$spoiler-padding-y: map-get($spacers, 2);

.spoiler {
    --#{$prefix}spoiler-border-radius: #{$spoiler-border-radius};
    --#{$prefix}spoiler-inner-border-radius: calc(var(--#{$prefix}spoiler-border-radius) - var(--#{$prefix}spoiler-border-width));
    --#{$prefix}spoiler-border-width: #{$spoiler-border-width};
    --#{$prefix}spoiler-border-color: #{$spoiler-border-color};
    --#{$prefix}spoiler-padding-x: #{$spoiler-padding-x};
    --#{$prefix}spoiler-padding-y: #{$spoiler-padding-y};
    --#{$prefix}spoiler-animation-duration: var(--#{$animation-prefix}duration-1);

    @include border-radius(var(--#{$prefix}spoiler-border-radius));
    border: var(--#{$prefix}spoiler-border-width) solid var(--#{$prefix}spoiler-border-color);

    & > summary {
        display: grid;
        grid: auto / 1fr auto;
        align-items: center;
        gap: var(--#{$prefix}spoiler-padding-x);
        padding: var(--#{$prefix}spoiler-padding-y) var(--#{$prefix}spoiler-padding-x);
        border-radius: var(--#{$prefix}spoiler-inner-border-radius);

        &::-webkit-details-marker {
            display: none;
        }

        & > * {
            display: inline-flex;
            flex-wrap: wrap;
            overflow: hidden;
            align-items: center;
            gap: var(--#{$prefix}spoiler-padding-x);
        }

        & + * {
            display: grid;
            border-bottom-left-radius: var(--#{$prefix}spoiler-inner-border-radius);
            border-bottom-right-radius: var(--#{$prefix}spoiler-inner-border-radius);


            & > * {
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
                overflow: hidden;
            }
        }

        &::before {
            display: inline-block;
            width: 24px;
            height: 24px;
            order: 1;
            content: var(--#{$prefix}expand-button-icon);
        }
    }

    &.sp-expanding {
        & > summary {
            &::before {
                @include animation(half-turn var(--#{$prefix}spoiler-animation-duration));
            }

            & + * {
                @include animation(grid-expand var(--#{$prefix}spoiler-animation-duration) ease-in);
            }
        }
    }

    &.sp-collapsing {
        & > summary {
            &::before {
                @include animation(half-turn var(--#{$prefix}spoiler-animation-duration) reverse);
            }

            & + * {
                @include animation(grid-expand var(--#{$prefix}spoiler-animation-duration) ease-out reverse);
            }
        }
    }

    &[open] > summary {
        border-radius: var(--#{$prefix}spoiler-border-radius) var(--#{$prefix}spoiler-border-radius) 0 0;

        &::before {
            rotate: -0.5turn;
        }
    }

    &[inert] > summary {
        opacity: #{$btn-disabled-opacity};
    }

    &-flush {
        --#{$prefix}spoiler-border-radius: 0;
        --#{$prefix}spoiler-border-width: 0;
    }
}