/*********** Spoiler component general styles **********/
$spoiler-border-radius: $border-radius  !default;
$spoiler-border-width: $border-width  !default;
$spoiler-border-color: $border-color  !default;
$spoiler-padding-x: $input-btn-padding-x  !default;
$spoiler-padding-y: $input-btn-padding-y  !default;

.spoiler {
    --#{$prefix}spoiler-border-radius: #{$spoiler-border-radius};
    --#{$prefix}spoiler-border-width: #{$spoiler-border-width};
    --#{$prefix}spoiler-border-color: #{$spoiler-border-color};
    --#{$prefix}spoiler-padding-x: #{$spoiler-padding-x};
    --#{$prefix}spoiler-padding-y: #{$spoiler-padding-y};

    @include border-radius(var(--#{$prefix}spoiler-border-radius));
    border: var(--#{$prefix}spoiler-border-width) solid var(--#{$prefix}spoiler-border-color);
    overflow: hidden;


    > summary {
        padding: var(--#{$prefix}spoiler-padding-y) var(--#{$prefix}spoiler-padding-x);
        list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='6 2 16 14' width='16px' height='16px'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E");

        &.disabled {
            opacity: #{$btn-disabled-opacity};
            pointer-events: none;
            user-select: none;
        }
    }

    &[open] {
        summary {
            border-bottom: var(--#{$prefix}spoiler-border-width) solid var(--#{$prefix}spoiler-border-color);
            list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='6 2 16 14' width='16px' height='16px'%3E%3Cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z'/%3E%3C/svg%3E");
        }
    }
}