$enable-gradients: false;
$enable-shadows: false;
$enable-rounded: true;
$enable-grid-classes: false;
$enable-container-classes: false;
$enable-rfs: true;

// Configuration
@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "maps";
@import "bootstrap/scss/maps";

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "mixins";
@import "utilities";

$grid-breakpoints: map-remove($grid-breakpoints, xl, xxl);

$nav-link-disabled-color: $surface-inverse-color;

$badge-border-radius: $border-radius-sm;

$toast-border-radius: $border-radius-sm;
$toast-background-color: $surface-color;
$toast-header-background-color: $toast-background-color;
$toast-header-color: $surface-inverse-color;

$breadcrumb-border-radius: 0;
$breadcrumb-divider: quote("\276f");
$breadcrumb-item-padding-x: map-get($spacers, 1);
$breadcrumb-divider-color: $surface-inverse-color;
$breadcrumb-active-color: $surface-inverse-color;

@import "root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";

@import "buttons";
@import "bootstrap/scss/button-group";
@import "card";
@import "list-group";
@import "forms";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/badge";
@import "snackbar";

@import "bootstrap/scss/placeholders";
@import "dropdown";

// Helpers
@import "bootstrap/scss/helpers/stacks";
@import "bootstrap/scss/helpers/text-truncation";
@import "bootstrap/scss/helpers/visually-hidden";
@import "helpers/color-bg";
@import "helpers/containers";
@import "helpers/position";
@import "helpers/interactions";

@import "text-utils";
@import "animations";
@import "layout-grid";
@import "layout-table";
@import "navbar";
@import "appshell";
@import "spoiler";
@import "slider";
@import "progress";
@import "player";
@import "browser";
@import "backdrop";
@import "icons";
@import "alert";
@import "dialog";

// Utilities
@import "bootstrap/scss/utilities/api";

/********** Specific site element styles **********/

::backdrop {
    --#{$prefix}backdrop-bg-color: rgba(0 0 0 / 0.5);
    --#{$prefix}backdrop-blur-radius: 0;
    --#{$prefix}backdrop-transition-duration: var(--#{$animation-prefix}duration-1);
}

.pb-6 {
    padding-bottom: #{$spacer * 5} !important;
}

.pb-7 {
    padding-bottom: #{$spacer * 7} !important;
}

:focus-visible {
    outline: none;
    box-shadow: 0 0 0 var(--#{$prefix}focus-ring-width) var(--#{$prefix}focus-ring-color);
}

@include any-pointer {
    .dropdown-item {
        padding-block: map-get($spacers, 3);
    }

    .browser-view > .table {
        touch-action: manipulation;
    }
}