$enable-gradients: true;
$enable-shadows: true;
$enable-grid-classes: false;
$enable-container-classes: false;
$enable-rfs: true;

$primary: #6f42c1;

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
$grid-breakpoints: map-remove($grid-breakpoints, xl, xxl);
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/card";

$breadcrumb-divider: quote("\276f");
$breadcrumb-item-padding-x: map-get($spacers, 1);
$breadcrumb-border-radius: 0;
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";

$accordion-button-active-bg: $light;
@import "bootstrap/scss/accordion";

$zindex-dropdown: $zindex-sticky + 5;
@import "bootstrap/scss/dropdown";

// Helpers
@import "bootstrap/scss/helpers/stacks";
@import "bootstrap/scss/helpers/text-truncation";
@import "bootstrap/scss/helpers/visually-hidden";

// Utilities
@import "utilities";
@import "bootstrap/scss/utilities/api";

$primary-100: tint-color($primary, 80%) !default;
$primary-200: tint-color($primary, 60%) !default;
$primary-300: tint-color($primary, 40%) !default;
$primary-400: tint-color($primary, 20%) !default;
$primary-500: $primary  !default;
$primary-600: shade-color($primary, 20%) !default;
$primary-700: shade-color($primary, 40%) !default;
$primary-800: shade-color($primary, 60%) !default;
$primary-900: shade-color($primary, 80%) !default;

@import "mixins";
@import "text-utils";
@import "animations";
@import "layout-grid";
@import "layout-table";
@import "navbar";
@import "appshell";
@import "buttons";
@import "dropdown";
@import "spoiler";
@import "slider";
@import "albumart";
@import "player";
@import "browser";
@import "backdrop";
@import "icon";
@import "alert";

/********** Specific site element styles **********/

:root {
    --#{$prefix}accent-color: #{$primary};
}

%grid-form-label {
    justify-self: end;
    color: $text-muted;

    &::after {
        content: ":";
    }
}

%grid-form-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-form {
    & > :nth-child(odd) {
        @extend %grid-form-label;
    }

    & > :nth-child(even) {
        @extend %grid-form-text;
    }
}

.grid-form-label {
    @extend %grid-form-label;
}

.grid-form-text {
    @extend %grid-form-text;
}

.stack {
    position: relative;

    & > .stack-layer {
        display: flex;
        position: absolute;
        inset: 0;

        &.stack-layer-hover {
            opacity: 0;
        }
    }

    &:hover > .stack-layer,
    &:focus > .stack-layer {
        &.stack-layer-hover {
            opacity: 1;
        }
    }
}

.playback-aa-ctrl {
    border-radius: $border-radius-sm;
    overflow: hidden;
    flex-shrink: 0;

    &.stack,
    .stack {
        & > .stack-layer {
            @include bg-translucent;
            color: white;
            transition: opacity 250ms ease-in-out 125ms;
        }

        &:hover,
        &:focus {
            & > .stack-layer:not(.stack-layer-hover):not(:last-child) {
                opacity: 0;
            }
        }
    }
}

input {
    accent-color: var(--#{$prefix}accent-color);
}

input[type="checkbox"] {
    inline-size: 1em;
    block-size: 1em;
    outline-offset: 5px;
    cursor: pointer;
}

.form-switch {
    input[type="checkbox"].form-check-input {
        font-size: 1.25em;
    }
}

label {
    max-height: 100%;
}

.nt-host {
    position: absolute;
    display: grid;
    z-index: $zindex-fixed;
    @include grid-auto-columns($min: 15rem, $max: 1fr, $mode: auto-fit);
    padding: map-get($spacers, 3);
    inset: 0 0 auto 0;
    max-height: 30vh;
    overflow-y: auto;
    justify-items: end;
}